@import url("new-admin-common.css");
@import url("jz-js-tree-member.css");

/* ---------------------------------------------- only member used START -------------------------------------------------- */

/* query selector */
.bg02{width: 100%; margin-left: 20px;}
.if-area {
    border: 1px dashed var(--jimzen-gray4);
    /* border-radius: 10px; */
    background: #fff4ee;
   	padding: 10px 40px;
   	width: 100%;
   	position: relative;
   	margin-bottom: 30px;
}

.if-box1 {
	position: relative;
}

.if-box1 .menu-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px 20px 0px;
    width: 100px;
    height: 100%;
    flex-direction: column;
}

.if-box1 .menu-btn > .divider,
.if-box1 .menu-btn > .icon-menu-list,
.if-box1 .menu-btn > .delete-btn {
	margin-left: 20px;
}

.no-factor .if-box2 {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.if-box2 {
    border: 1px dashed var(--jimzen-gray4);
    margin: 10px 0px;
    /* border-radius: 10px; */
    background: white;
    padding: 10px 20px;
    width: 100%;
}

.total-num-area{
	display: flex;
}

.if-area .target-num:before {
    content: '\f007';
    font-family: fontawesome;
    color: var(--jimzen-gray2);
    margin: auto;
    font-size: 16px;
    padding-right: 8px;
}

.if-area__search-cond-area{
	
}

.if-area > li:first-child > .if-box1 .menu-btn .divider,
.no-factor .menu-btn {
    display: none;
}

ol{
	list-style-type: none;
}

.query-editor .placeholder {
  	outline: dashed 1px var(--jimzen-blue);
}

.query-editor .query-form__row {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-right: 100px;
    padding-bottom: 10px;
}

ol li > div .jqgrid-contextmenu:hover{
	pointer-events: none;
}

ol li > div:hover,
ol li > div:hover + ol li > div {
  	outline: 1px solid var(--jimzen-blue);
}
ol li > div.selected,
ol li > div.selected + ol li > div{
  	outline: 2px solid var(--jimzen-blue);
}
.blinking{
	-webkit-animation: blink 0.7s ease-in-out infinite alternate;
	-moz-animation: blink 0.7s ease-in-out infinite alternate;
	animation: blink 0.7s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {outline: 2px solid #039ADB22;background: white;}
    100% {outline: 2px solid var(--jimzen-blue);background: var(--jimzen-blue-light);}
}
@-moz-keyframes blink{
    0% {outline: 2px solid #039ADB22;background: white;}
    100% {outline: 2px solid var(--jimzen-blue);background: var(--jimzen-blue-light);}
}
@keyframes blink{
    0% {outline: 2px solid #039ADB22;background: white;}
    100% {outline: 2px solid var(--jimzen-blue);background: var(--jimzen-blue-light);}
}

.or-and.or:before{
	content: 'OR\A(または)';
	color: var(--jimzen-blue);
	font-size: 10px;
    white-space: pre;
    right: 0;
    bottom: -28px;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    padding-right: 2px;
}
.or-and.or{
	position : absolute;
	border: 2px solid var(--jimzen-blue);
	border-right: none;
}

.or-and.and:before{
	content: 'AND\A(かつ)';
	color: var(--jimzen-orange);
	font-size: 10px;
    white-space: pre;
    right: 0;
    bottom: -28px;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    padding-right: 2px;
}
.or-and.and{
	position : absolute;
	border: 2px solid var(--jimzen-orange);
	border-top: none;
	border-right: none;
}

.ui-sortable-helper:hover{
  	outline: none;
}

.query-editor .detail-form__row:not(:last-child){
	margin: 0;
}


/*********************** /



/* member-mst standard selector */
.member-st-fld__lst {
    display: table;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 20px 30px 50px;
    border-bottom: 1px solid var(--jimzen-gray3);
}

.member-st-fld__lst > li {
    width: 100%;
    display: table-row;
}

.member-st-fld__lst > li > div:nth-child(1) {
    width: 10%;
}

.member-st-fld__lst > li:not(.member-st-fld__list-header) > div:nth-child(2) {
    width: 40%;
    font-weight: bold;
}

.member-st-fld__lst > li > div:nth-child(4) {
    width: 20%;
}
.member-st-fld__lst > li > div:nth-child(5) {
    width: 20%;
}

.member-st-fld__lst > li > div {
    display: table-cell;
    padding-bottom: 40px;
}

.member-st-fld__lst input[type="checkbox"].chk-switch + label {
    font-size: 13px;
}
.member-st-fld__lst .btn-alone-small { white-space: nowrap;}
.member-st-fld__lst .jzSelectWrap+.jzSelectWrap{ margin-top: 20px}

.name-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.name-wrapper > input[type="text"] {  width: 6em;}

.member-st-fld > li {display: flex;flex-wrap: wrap;}
.member-st-fld > li:first-child .member-st-fld__op-cl-btn-area {
    border-top: 1px solid var(--jimzen-gray3);
}

.member-st-fld > li > div { width: 100%;}
.member-st-fld__lst-wrapper{display:none;}


.member-st-fld__op-cl-btn-area {
    border-bottom: 1px solid var(--jimzen-gray3);
    justify-content: left;
    padding: 16px 20px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    
}
.member-st-fld__op-cl-btn-area .sel-total-num{    margin-left: auto;}
.member-st-fld__op-cl-btn-area:before {
  position: relative;
  font-size: 16px;
  font-family: 'FontAwesome';
  content: "\f0d7";
  cursor: pointer;
  color: var(--jimzen-blue);
  margin-right: 20px;
}
.member-st-fld__op-cl-btn-area.open:before{
  position: relative;
  top: 5px;
  font-size: 16px;
  font-family: 'FontAwesome';
  content: "\f0de";
  cursor: pointer;
  color: var(--jimzen-blue);
  margin-right: 20px;
}


.member-st-fld__list-header > div {
    font-size: 12px;
    font-weight: normal;
}
.member-st-fld__lst .num{
  	text-align: right;
}


/* ------------------------------------------------- */








/* ---------------------------------------------- only member used END -------------------------------------------------- */


