@import url("new-admin-common.css");
@import url("jz-js-tree-news.css");

/* ---------------------------------------------- only notice used START -------------------------------------------------- */

#contentType+#contentHtmlCheck{ display: none;}
#contentType2+#contentText-iframe{ display: none;}
#contentType:checked+#contentHtml-iframe{ display: block;}
#contentType2:checked+#contentText-iframe{ display: block;}



/* ---------------------------------------------- only notice used END -------------------------------------------------- */

.right-panel-title-iframe {
	margin-top: 50px;
}

.trdpo img{
	max-height: 300px;
	max-width: 300px;
	width:inherit;
	height:auto;
	vertical-align:middle;
}

.detail-form__row .file-img-view {
	width: 35%;
}

.detail-form__row .file-text-view {
	width: 65%;
}

.text-bk textarea:hover,
.text-bk textarea:focus{
	background:none;
}

.dropbox{
	width:100%;
	margin: 20px;
	border: 3px dashed #e6e6e6;
}
.area{
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 33px;
	margin-left: auto;
	width: 250px;
	height: 80px;
	background-repeat: no-repeat;
	word-break: break-all;word-wrap: break-word;
}

.filePicker {
	text-align: center; 
}

.upload-image-preview {
	margin-left: 30px;
}

.upload-image-preview #preview img{
	width: 90px;
	height: 90px;
	margin: 15px;
}
