<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmall.mail.dao.MailDeliveryHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.tmall.mail.pojo.MailDeliveryHistory" >
    <id column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="mail_id" property="mailId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="recipient_mail" property="recipientMail" jdbcType="VARCHAR" />
    <result column="recipient_user_id" property="recipientUserId" jdbcType="INTEGER" />
    <result column="sender_mail" property="senderMail" jdbcType="VARCHAR" />
    <result column="sender_user_id" property="senderUserId" jdbcType="INTEGER" />
    <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
    <result column="delivery_status" property="deliveryStatus" jdbcType="TINYINT" />
    <result column="mail_body_type" property="mailBodyType" jdbcType="TINYINT" />
    <result column="mail_type" property="mailType" jdbcType="SMALLINT" />
    <result column="mail_type_name" property="mailTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tmall.mail.pojo.MailDeliveryHistory" extends="BaseResultMap" >
    <result column="mail_body_processed" property="mailBodyProcessed" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    message_id, shop_id, mail_id, title, recipient_mail, recipient_user_id, sender_mail, 
    sender_user_id, delivery_date, delivery_status, mail_body_type, mail_type, mail_type_name
  </sql>
  <sql id="Blob_Column_List" >
    mail_body_processed
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MAIL_DELIVERY_HISTORY
    where message_id = #{messageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MAIL_DELIVERY_HISTORY
    where message_id = #{messageId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tmall.mail.pojo.MailDeliveryHistory" >
    insert into MAIL_DELIVERY_HISTORY (message_id, shop_id, mail_id, 
      title, recipient_mail, recipient_user_id, 
      sender_mail, sender_user_id, delivery_date, 
      delivery_status, mail_body_type, mail_type, 
      mail_type_name, mail_body_processed)
    values (#{messageId,jdbcType=BIGINT}, #{shopId,jdbcType=INTEGER}, #{mailId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{recipientMail,jdbcType=VARCHAR}, #{recipientUserId,jdbcType=INTEGER}, 
      #{senderMail,jdbcType=VARCHAR}, #{senderUserId,jdbcType=INTEGER}, #{deliveryDate,jdbcType=TIMESTAMP}, 
      #{deliveryStatus,jdbcType=TINYINT}, #{mailBodyType,jdbcType=TINYINT}, #{mailType,jdbcType=SMALLINT}, 
      #{mailTypeName,jdbcType=VARCHAR}, #{mailBodyProcessed,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.mail.pojo.MailDeliveryHistory" >
    insert into MAIL_DELIVERY_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="mailId != null" >
        mail_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="recipientMail != null" >
        recipient_mail,
      </if>
      <if test="recipientUserId != null" >
        recipient_user_id,
      </if>
      <if test="senderMail != null" >
        sender_mail,
      </if>
      <if test="senderUserId != null" >
        sender_user_id,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="deliveryStatus != null" >
        delivery_status,
      </if>
      <if test="mailBodyType != null" >
        mail_body_type,
      </if>
      <if test="mailType != null" >
        mail_type,
      </if>
      <if test="mailTypeName != null" >
        mail_type_name,
      </if>
      <if test="mailBodyProcessed != null" >
        mail_body_processed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="mailId != null" >
        #{mailId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="recipientMail != null" >
        #{recipientMail,jdbcType=VARCHAR},
      </if>
      <if test="recipientUserId != null" >
        #{recipientUserId,jdbcType=INTEGER},
      </if>
      <if test="senderMail != null" >
        #{senderMail,jdbcType=VARCHAR},
      </if>
      <if test="senderUserId != null" >
        #{senderUserId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryStatus != null" >
        #{deliveryStatus,jdbcType=TINYINT},
      </if>
      <if test="mailBodyType != null" >
        #{mailBodyType,jdbcType=TINYINT},
      </if>
      <if test="mailType != null" >
        #{mailType,jdbcType=SMALLINT},
      </if>
      <if test="mailTypeName != null" >
        #{mailTypeName,jdbcType=VARCHAR},
      </if>
      <if test="mailBodyProcessed != null" >
        #{mailBodyProcessed,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.mail.pojo.MailDeliveryHistory" >
    update MAIL_DELIVERY_HISTORY
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="mailId != null" >
        mail_id = #{mailId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="recipientMail != null" >
        recipient_mail = #{recipientMail,jdbcType=VARCHAR},
      </if>
      <if test="recipientUserId != null" >
        recipient_user_id = #{recipientUserId,jdbcType=INTEGER},
      </if>
      <if test="senderMail != null" >
        sender_mail = #{senderMail,jdbcType=VARCHAR},
      </if>
      <if test="senderUserId != null" >
        sender_user_id = #{senderUserId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryStatus != null" >
        delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      </if>
      <if test="mailBodyType != null" >
        mail_body_type = #{mailBodyType,jdbcType=TINYINT},
      </if>
      <if test="mailType != null" >
        mail_type = #{mailType,jdbcType=SMALLINT},
      </if>
      <if test="mailTypeName != null" >
        mail_type_name = #{mailTypeName,jdbcType=VARCHAR},
      </if>
      <if test="mailBodyProcessed != null" >
        mail_body_processed = #{mailBodyProcessed,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tmall.mail.pojo.MailDeliveryHistory" >
    update MAIL_DELIVERY_HISTORY
    set shop_id = #{shopId,jdbcType=INTEGER},
      mail_id = #{mailId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      recipient_mail = #{recipientMail,jdbcType=VARCHAR},
      recipient_user_id = #{recipientUserId,jdbcType=INTEGER},
      sender_mail = #{senderMail,jdbcType=VARCHAR},
      sender_user_id = #{senderUserId,jdbcType=INTEGER},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      mail_body_type = #{mailBodyType,jdbcType=TINYINT},
      mail_type = #{mailType,jdbcType=SMALLINT},
      mail_type_name = #{mailTypeName,jdbcType=VARCHAR},
      mail_body_processed = #{mailBodyProcessed,jdbcType=LONGVARCHAR}
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.mail.pojo.MailDeliveryHistory" >
    update MAIL_DELIVERY_HISTORY
    set shop_id = #{shopId,jdbcType=INTEGER},
      mail_id = #{mailId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      recipient_mail = #{recipientMail,jdbcType=VARCHAR},
      recipient_user_id = #{recipientUserId,jdbcType=INTEGER},
      sender_mail = #{senderMail,jdbcType=VARCHAR},
      sender_user_id = #{senderUserId,jdbcType=INTEGER},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      mail_body_type = #{mailBodyType,jdbcType=TINYINT},
      mail_type = #{mailType,jdbcType=SMALLINT},
      mail_type_name = #{mailTypeName,jdbcType=VARCHAR}
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
</mapper>