<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.common.dao.MailNoticeMapper">
  <resultMap id="BaseResultMap" type="com.tmall.common.pojo.MailNotice">
    <id column="mail_id" jdbcType="INTEGER" property="mailId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="mail_name" jdbcType="VARCHAR" property="mailName" />
    <result column="mail_type" jdbcType="SMALLINT" property="mailType" />
    <result column="return_address_same_flag" jdbcType="BIT" property="returnAddressSameFlag" />
    <result column="return_address" jdbcType="VARCHAR" property="returnAddress" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content_type" jdbcType="TINYINT" property="contentType" />
    <result column="insert_sentence" jdbcType="VARCHAR" property="insertSentence" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tmall.common.pojo.MailNotice">
    <result column="content_text" jdbcType="LONGVARCHAR" property="contentText" />
    <result column="content_html" jdbcType="LONGVARCHAR" property="contentHtml" />
  </resultMap>
  <sql id="Base_Column_List">
    mail_id, shop_id, mail_name, mail_type, return_address_same_flag, return_address, 
    title, content_type, insert_sentence, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content_text, content_html
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MAIL_NOTICE
    where mail_id = #{mailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MAIL_NOTICE
    where mail_id = #{mailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.common.pojo.MailNotice">
    insert into MAIL_NOTICE (mail_id, shop_id, mail_name, 
      mail_type, return_address_same_flag, return_address, 
      title, content_type, insert_sentence, 
      create_time, update_time, content_text, 
      content_html)
    values (#{mailId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{mailName,jdbcType=VARCHAR}, 
      #{mailType,jdbcType=SMALLINT}, #{returnAddressSameFlag,jdbcType=BIT}, #{returnAddress,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{contentType,jdbcType=TINYINT}, #{insertSentence,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{contentText,jdbcType=LONGVARCHAR}, 
      #{contentHtml,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.common.pojo.MailNotice">
    insert into MAIL_NOTICE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mailId != null">
        mail_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="mailName != null">
        mail_name,
      </if>
      <if test="mailType != null">
        mail_type,
      </if>
      <if test="returnAddressSameFlag != null">
        return_address_same_flag,
      </if>
      <if test="returnAddress != null">
        return_address,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
      <if test="insertSentence != null">
        insert_sentence,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="contentText != null">
        content_text,
      </if>
      <if test="contentHtml != null">
        content_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mailId != null">
        #{mailId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="mailName != null">
        #{mailName,jdbcType=VARCHAR},
      </if>
      <if test="mailType != null">
        #{mailType,jdbcType=SMALLINT},
      </if>
      <if test="returnAddressSameFlag != null">
        #{returnAddressSameFlag,jdbcType=BIT},
      </if>
      <if test="returnAddress != null">
        #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=TINYINT},
      </if>
      <if test="insertSentence != null">
        #{insertSentence,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentText != null">
        #{contentText,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentHtml != null">
        #{contentHtml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.common.pojo.MailNotice">
    update MAIL_NOTICE
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="mailName != null">
        mail_name = #{mailName,jdbcType=VARCHAR},
      </if>
      <if test="mailType != null">
        mail_type = #{mailType,jdbcType=SMALLINT},
      </if>
      <if test="returnAddressSameFlag != null">
        return_address_same_flag = #{returnAddressSameFlag,jdbcType=BIT},
      </if>
      <if test="returnAddress != null">
        return_address = #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=TINYINT},
      </if>
      <if test="insertSentence != null">
        insert_sentence = #{insertSentence,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentText != null">
        content_text = #{contentText,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentHtml != null">
        content_html = #{contentHtml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mail_id = #{mailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tmall.common.pojo.MailNotice">
    update MAIL_NOTICE
    set shop_id = #{shopId,jdbcType=INTEGER},
      mail_name = #{mailName,jdbcType=VARCHAR},
      mail_type = #{mailType,jdbcType=SMALLINT},
      return_address_same_flag = #{returnAddressSameFlag,jdbcType=BIT},
      return_address = #{returnAddress,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=TINYINT},
      insert_sentence = #{insertSentence,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content_text = #{contentText,jdbcType=LONGVARCHAR},
      content_html = #{contentHtml,jdbcType=LONGVARCHAR}
    where mail_id = #{mailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.common.pojo.MailNotice">
    update MAIL_NOTICE
    set shop_id = #{shopId,jdbcType=INTEGER},
      mail_name = #{mailName,jdbcType=VARCHAR},
      mail_type = #{mailType,jdbcType=SMALLINT},
      return_address_same_flag = #{returnAddressSameFlag,jdbcType=BIT},
      return_address = #{returnAddress,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=TINYINT},
      insert_sentence = #{insertSentence,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where mail_id = #{mailId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.tmall.mail.pojo.MailNotice">
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <id column="mail_type" jdbcType="SMALLINT" property="mailType" />
    <result column="mail_name" jdbcType="VARCHAR" property="mailName" />
    <result column="return_address_same_flag" jdbcType="BIT" property="returnAddressSameFlag" />
    <result column="return_address" jdbcType="VARCHAR" property="returnAddress" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content_type" jdbcType="TINYINT" property="contentType" />
    <result column="insert_sentence" jdbcType="VARCHAR" property="insertSentence" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tmall.mail.pojo.MailNotice">
    <result column="content_text" jdbcType="LONGVARCHAR" property="contentText" />
    <result column="content_html" jdbcType="LONGVARCHAR" property="contentHtml" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, mail_type, mail_name, return_address_same_flag, return_address, title, content_type, 
    attachment_id, insert_sentence, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content_text, content_html
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MAIL_NOTICE
    where mail_id = #{shopId,jdbcType=INTEGER}
  </select>

  <select id="selectByMailType" parameterType="map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MAIL_NOTICE
    where shop_id = #{shopId,jdbcType=INTEGER}
    and mail_type = #{mailType,jdbcType=TINYINT}
  </select>

  <insert id="insert" parameterType="com.tmall.mail.pojo.MailNotice">
    <selectKey keyProperty="mail_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into MAIL_NOTICE (shop_id, mail_type, mail_name, 
      return_address_same_flag, return_address, title, 
      content_type, attachment_id, insert_sentence, 
      create_time, update_time, content_text, 
      content_html)
    values (#{shopId,jdbcType=INTEGER}, #{mailType,jdbcType=SMALLINT}, #{mailName,jdbcType=VARCHAR}, 
      #{returnAddressSameFlag,jdbcType=BIT}, #{returnAddress,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{contentType,jdbcType=TINYINT},  #{insertSentence,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{contentText,jdbcType=LONGVARCHAR}, 
      #{contentHtml,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.mail.pojo.MailNotice">
    update MAIL_NOTICE
    <set>
      <if test="mailName != null">
        mail_name = #{mailName,jdbcType=VARCHAR},
      </if>
      <if test="returnAddressSameFlag != null">
        return_address_same_flag = #{returnAddressSameFlag,jdbcType=BIT},
      </if>
      <if test="returnAddress != null">
        return_address = #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=TINYINT},
      </if>
      <if test="insertSentence != null">
        insert_sentence = #{insertSentence,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentText != null">
        content_text = #{contentText,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentHtml != null">
        content_html = #{contentHtml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
      and mail_type = #{mailType,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tmall.mail.pojo.MailNotice">
    update MAIL_NOTICE
    set mail_name = #{mailName,jdbcType=VARCHAR},
      return_address_same_flag = #{returnAddressSameFlag,jdbcType=BIT},
      return_address = #{returnAddress,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=TINYINT},
      insert_sentence = #{insertSentence,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content_text = #{contentText,jdbcType=LONGVARCHAR},
      content_html = #{contentHtml,jdbcType=LONGVARCHAR}
    where shop_id = #{shopId,jdbcType=INTEGER}
      and mail_type = #{mailType,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.mail.pojo.MailNotice">
    update MAIL_NOTICE
    set mail_name = #{mailName,jdbcType=VARCHAR},
      return_address_same_flag = #{returnAddressSameFlag,jdbcType=BIT},
      return_address = #{returnAddress,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=TINYINT},
      insert_sentence = #{insertSentence,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where shop_id = #{shopId,jdbcType=INTEGER}
      and mail_type = #{mailType,jdbcType=SMALLINT}
  </update>
</mapper>