@CHARSET "UTF-8";

.vw-change {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-mgn {
    padding-left: 20px;
    font-size: 24px;
}

.icon-mgn i{
	color: var(--jimzen-gray1);
}

.icon-mgn.is-selected i{
	pointer-events: none;
	color: var(--jimzen-blue);
}

.ic-txt-box .ic-txt-box_txt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.report-item.ui-draggable-dragging{
	display: block;
	width: max-content;
	flex-wrap: nowrap;
	background: var(--jimzen-blue-soft) !important;
	opacity: .95;
}

/* .pull-dw-menu__slide-area{display:none;} */

/* type tile */
.type-tile > ul,
.type-tile > ul > li {
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  grid-gap: 1px;
  padding: 1px;
}
.type-tile .pull-dw-menu__contents{
  /* width: 50%;
     flex: 1 1 156px;
     flex-wrap: wrap;
     margin: -1px -1px 0 0;
     padding: 1px;
  */
  font-size: 13px;
  box-shadow: 0 0 0 1px var(--jimzen-gray5);
  border-bottom: 0px;
}
.type-tile .pull-dw-menu__contents i{
  font-size: 30px;
  margin: 10px;
}
.type-tile .ic-txt-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.type-tile .ic-txt-box .ic-txt-box_icon{
  /* padding: 0; */
}


.type-tile .pull-dw-menu__contents:hover{
  background: var(--jimzen-blue-light);
  opacity: 0.8;
}

/* TODO */
.pull-dw-menu .jstree-default{
	padding: 0;
}

.pull-dw-menu .op-cl-area.open{
  border:none;
}

.pull-dw-menu__child{
  display: initial;
}
.pull-dw-menu__slide-area{
  /* max-height: 0px;*/
  display: none;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
.pull-dw-menu__contents {
    border-bottom: 1px solid var(--jimzen-gray5);
    align-items: center;
    padding: 0px 10px;
    max-height: 75vh;
}

.open{
  /* max-height: 2000px; */
  opacity: 1;
}

.jz-form-dialog{
	z-index: 99;
	border: none;
    border-radius: 10px;
    background: #ffffff;
    min-width: 390px;
    max-height: 75vh;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}
.jz-form-dialog .ui-dialog-content{
    max-height: 75vh;
    overflow: overlay;
}
.jz-form-dialog .ui-dialog-titlebar{
	position: absolute;
	background: transparent;
	width: 100%;
	text-align: right;
	cursor: move;
	border: none;
	z-index: 1;
	-webkit-border: none;
}
.jz-form-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
    background: #FFF;
    padding: 10px;
    position: absolute;
    width: 30px;
    height: 30px;
    color: #a9a9a9;
    cursor: pointer;
    box-shadow: 2px -1px 8px rgba(0,0,0,.3);
    border-radius: 50%;
    top: -14px;
    right: -14px;
    margin: 0;
}

.jz-form-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:before {
    content: " ";
    position: absolute;
    z-index: 0;
    right: 4px;
    top: 4px;
    width: 25px;
    margin: 11px;
    padding: 1px;
    height: 18px;
    display: block;
    background: white;
    pointer-events: none;
    cursor: move;
}
.jz-form-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:after {
    content: url(../../../image/admin/common/controller/icon_stop.svg);
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 10px;
    display: block;
    border-radius: 50%;
    pointer-events: none;
}

.jz-form-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close > span{
    content: " ";
    background: #FFF;
    position: absolute;
    z-index: 1;
    width: 29px;
    height: 29px;
    color: transparent;
    cursor: pointer;
    border-radius: 50%;
    top: 0px;
    right: 0px;
}

.jz-form-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close > span:hover{
	background: #f5f5f5;
}

.jz-form-dialog  .pull-dw-menu {
    padding: 40px;
}

.jz-form-dialog .pull-dw-menu-list{
	height: 100%;
    overflow: overlay;
    border: none;
    border-radius: 10px;
    width: 100%;
    background: white;
}

.jz-form-dialog .ui-resizable { position: relative;}
.jz-form-dialog .ui-resizable-handle { position: absolute;font-size: 0.1px; display: none; opacity: 0;}
.jz-form-dialog .ui-resizable-disabled .ui-resizable-handle,
.jz-form-dialog .ui-resizable-autohide .ui-resizable-handle { display: none; }
.jz-form-dialog .ui-resizable-n { cursor: n-resize; height: 10px; width: 100%; top: -10px; left: 0; }
.jz-form-dialog .ui-resizable-s { cursor: s-resize; height: 10px; width: 100%; bottom: -10px; left: 0; display: block;}
.jz-form-dialog .ui-resizable-e { cursor: e-resize; width: 10px; right: -10px; top: 0; height: 100%; display: block;}
.jz-form-dialog .ui-resizable-w { cursor: w-resize; width: 10px; left: -10px; top: 0; height: 100%; }
.jz-form-dialog .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; margin: -10px; padding: 0; display: block;}
.jz-form-dialog .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.jz-form-dialog .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.jz-form-dialog .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.mng-config-area span {
    padding-right: 40px;
}

.input-none {
	border-bottom: 1px solid var(--jimzen-gray5);
    align-items: center;
    padding: 0px 10px;
}

/*******/


.jz-form-container {
    max-width: 850px;
    overflow: visible;
    margin: 10px 0px;
    /* padding-bottom: 40px; */
    border-bottom: 1px solid var(--jimzen-gray3);
}

.jz-form-header {
    display: flex;
    align-items: center;
    margin: 0;
    border-top: 1px solid var(--jimzen-gray3);
    border-bottom: 1px solid var(--jimzen-gray3);
}
.jz-form-header i{font-size: 16px;}
.jz-form-header_l {display: flex;margin-right: auto;align-items: center;padding: 4px 0px 4px 20px;font-weight:bold;}
.jz-form-header_r {margin-left: auto;padding: 4px 20px 4px 0px;}
.jz-form-header_r .btn-alone {margin: 0;}
.jz-form-header_l > *:not(:last-child), .jz-form-header_r > *:not(:last-child) {
    padding-right: 20px;
}
.jz-form-header i.fa-cog {
    padding-right: 8px;
}

.size-a4 {
    width: 210mm;
    height: 297mm;
    background: var(--jimzen-gra5);
    margin: auto;
    padding: 10mm;
}
.size-a3 {
    width: 297mm;
    height: 420mm;
    background: var(--jimzen-gra5);
    margin: auto;
}
.size-hogehoge{
    width: 100mm;
    height: 100mm;
}

.jz-form__bk-canvas {
    position: relative;
    background: var(--jimzen-gray6);
    width: 100%;
    overflow: visible;
}
.jz-form__bk-canvas::-webkit-scrollbar-track {
    background: white;
}

.jz-form-canvas{
    position: inherit;
    margin: auto;
    background-color: #FFFFFF;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEX////l9/+MFFnCAAAAD0lEQVQI12NgcMCJ/h8AACbcBAD5A1SjAAAAAElFTkSuQmCC);
    border: 1px solid var(--jimzen-gray3);
}

.jz-form-canvas .ic-txt-box{
	width: auto;
	min-width:100px;
	align-items: left;
}

.jz-form-canvas editor{
	width: 100%;
	height: 100%;
}

.jz-form-no-item {
    color: var(--jimzen-gray2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.jz-form-no-item i {
    font-size: 70px;
}


#jz-form-item .icon-menu-list {
    margin: auto 2px 2px 0px;
    padding: 8px 4px;
    pointer-events: auto;

}
#jz-form-item .icon-menu-list:after{
    width: 16px;
    height: 16px;
}

#jzformarea{
	box-sizing: content-box;
	position: relative;
	margin: 0px auto;
    height: 100%;
    width: inherit;
    font-size: 13px;
    line-height: 120%;
}
/*
.form-table{
	margin: 0px;
	padding:1px;
}
*/
.form-table {
    min-height: 35px;
}
.form-table.ui-sortable{
	min-height: 350px;
}
.form-table > li{
	min-height: 50px;
	margin : 10px;
	outline: dashed 1px var(--jimzen-gray5);
}
.form-table > li.pagingClass{
	min-height: 35px;
	outline: solid 1px var(--jimzen-gray6);
	background: var(--jimzen-gray6);
}


.form-table.ui-sortable:not(.sorting) > li:hover{
	background: #fff;
	outline: solid 2px var(--jimzen-blue);
}

.form-table.ui-sortable > li.pagingClass:hover{
	background: var(--jimzen-blue-light);
}

.form-table > li.ui-sortable-helper{
	outline: solid 2px var(--jimzen-blue);
	background: var(--jimzen-blue-soft);
}

.form-table > li.placeholder{
	min-height: 50px;
	outline: dashed 1px var(--jimzen-blue);
}

.form-table > li > div > .field-detail-table{
	display: none;
}
.form-table > li > div{
    width: 100%;
    height: auto;
    border: none;
    overflow: none;
    display: flex;
}

.form-table > li.pagingClass > div{
	width: calc(100% - 25px);
    pointer-events: none;
}

.form-table > li.pagingClass .field-detail-table{
	width: 100%;
	pointer-events: auto;
	position: relative;
	font-size: 13px;
	line-height: 1.76;
	display: table;
	margin: 2px 0px 2px 10px;
}

.form-table > li.imageClass.loading{
	position: relative;
}
.form-table > li.imageClass.loading:after{
	content:" ";
	display:inline-block;
    width: 50px;
    height: 50px;
	background: url("../../../js/common/yscommonui/images/container_loading.gif");
	background-size:contain;
	vertical-align:middle;
	position: absolute;
	z-index: 1;
	left:0;
	right:0;
	top:0;
	bottom:0;
    margin: auto auto;
}


.form-table iframe.inside_input,
.form-table iframe.inside_image{
	/*width: calc(100% - 50px);*/
	margin: 10px;
	width: 100%;
	height: auto;
	border: none;
	overflow: visible;
	pointer-events: none;
}
.form-table .inside_input.btn-small {
    margin: auto 10px 6px;
    white-space: nowrap;
    pointer-events: auto;
}

.form-table .inside_input.icon-menu-list {
    margin: auto 2px 2px 0px;
    padding: 8px 4px;
    pointer-events: auto;
}
.form-table .inside_input.icon-menu-list:after{
    width: 16px;
    height: 16px;
}
.jz-form-report{
	-moz-user-select: none;
	-webkit-user-select: none;
}

.jz-form-report, jz-form-container{
	width: 100%;
}

.jzform-contextmenu{
	content: "";
	position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 110px;
	background: #fff;
    border: 1px solid #999;
    z-index: 10000;
    padding: 2px 1px 2px 1px;
    border-radius: 3px;
	padding-bottom: 10px;
    user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.jzform-contextmenu hr{
	opacity: 0.5;
}
.jzform-contextmenu:after, .jzform-contextmenu:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.jzform-contextmenu:before {
    border-color: rgba(153, 153, 153, 0);
    border-bottom-color: #999;
    border-width: 6px;
    left: 55px;
    margin-left: -6px;
}
.jzform-contextmenu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 5px;
    left: 55px;
    margin-left: -5px;
}
.jzform-contextmenu li a.checked {
    background-image: url(image/checkmark.png);
    background-repeat: no-repeat;
    background-position: 2px center;
}
.jzform-contextmenu li a {
    display: block;
    color: #333333;
    padding: 4px 3px 2px 20px;
    line-height: 17px;
    text-decoration: none;
    margin: 1px 1px 0 1px;
    text-align: left;
    width: 100%;
    font-size: 13px;
}
.jzform-contextmenu li a:hover {
    background-color: #68A0CB;
    color: #FFFFFF;
}

.jzform-contextmenu li a.disabled {
    opacity: 0.35;
    pointer-events: none;
}

.add-item{
  background: var(--jimzen-gray6);
  border: 2px solid var(--jimzen-gray3);

}
.w-100{ width: 90%;text-align: center}

.add-item:hover{
  background: var(--jimzen-gray5);
}
.add-item.selected{
  background: var(--jimzen-blue-light);
  border: 2px solid var(--jimzen-blue);

}

.padding-area-lt{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--jimzen-blue);
}
.padding-area-lb{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  border-right: 1px solid var(--jimzen-blue);
}
.padding-area-rt{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid var(--jimzen-blue);
}
.padding-area-rb{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--jimzen-blue);
}

.is-fullSize{
  max-width: 100vw;
  /* height: 100vh; */
}

#report-form-full-screen{
	max-width: 100vw;
	max-height: calc(100vh - 180px);
    overflow: auto;
    background: rgba(255,255,255,var(--customer-background-opacity));
    border: solid 1px rgba(221,221,221,1.0);
    border-radius: 8px;
    box-shadow: 2px 4px 6px 0px #00000024;
    padding: 20px;
}

/*
.padding-area-lt,.padding-area-rb{
  height: 10mm;
}
.padding-area-lb,.padding-area-rt{
  width: 10mm;
}
*/


/* survey config start*/
.field-detail-table td {width: 25%;}
.field-detail-table td:nth-child(-n + 2){text-align: left;}
.field-detail-table td:nth-child(n + 3){text-align: left;}
.field-detail-table td:last-child {text-align: right; white-space: nowrap;}

.field-detail-table li > div {width: 25%;}
.field-detail-table li > div:nth-child(-n + 2){text-align: left;}
.field-detail-table li > div:nth-child(n + 3){text-align: left;}
.field-detail-table li > div:last-child {text-align: right; white-space: nowrap;}


.next-page i,
.end-page i {
	margin-right: 10px;
}

.pagingClass .next-page,
.pagingClass .end-page {
    font-size: 16px;
    font-weight: bold;
    color: var(--jimzen-gray1);
}

.pagingClass input[type="text"]{
	width: 35px;
	margin: 0px 10px;
}
/* survey config end */

/* report */
#report-item-remove-btn {
	z-index: 2;
}

.control-box .sp-preview {
	width: 60px;
	height: 20px;
}
.control-box .sp-replacer {
	height: 22px;
	padding: 1px;
	background: #ffffff;
	border-color: #ccc;
}
.control-box .sp-preview-inner {
	border-color: #ffffff;
}
.control-box .sp-dd {
    padding: 4px 2px 4px 0px;
    height: 16px;
    line-height: 16px;
    float: left;
    font-size: 10px;
}

#control-buttons-left{
	padding: 0px;
	background: #3385AD;
	height: auto;
	width: 28px;
    text-align: center;
}

#control-buttons-left .fa-arrows {
	font-size: 17px;
}
#control-buttons-left .fa-trash {
	font-size: 18px;
}
#control-buttons-left ul {
	width: auto;
	padding: 0px;
}

#control-buttons-left li {
	display: inline-block;
	padding: 4px;
	margin: auto;
	background-color: transparent;
    text-align: center;
    min-height: 0px;
    height: auto;
}
#control-buttons{
    border-bottom: inset 4px transparent;
	padding: 5px 10px 8px 10px!important;
	height:24px;
}

.control-buttons{
	box-sizing: content-box;
	background: #2E90BF;
	background-clip: padding-box;
	display: none;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	color: #ffffff;
	margin: 0px;
    width: auto;
    min-height: 0px;
	list-style-type: none;
}
.control-buttons ul{
	min-height: auto;
}
.control-buttons li {
	display: inline-block;
	padding: 0px 4px;
	height: 13px;
	margin: 0px;
	line-height: 13px;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	margin-top: 0px;
	background-color: transparent;
    text-align: center;
    min-height: 0px;
}


.control-buttons .fa-trash {
	font-size: 24px;
}

.control-buttons .fa-cog {
	font-size: 22px;
}

.control-box {
	background: #006699;
	background-clip: padding-box;
	display: none;
	cursor: pointer;
	position: absolute;
	z-index: 2; */
	color: #ffffff;
	margin: 0px;
    width: auto;
    min-height: 0px;
    font-size: 14px;
    padding: 15px 20px;
}

.control-box table{
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
}

.control-box td {
	padding: 0px;
	width: auto;
	/* height: 30px; */
	padding-bottom: 13px;
	color: #ffffff;
	vertical-align: top;
}
.control-box input,
.control-box select {
	color: #000000;
	font-size: 14px;
	height: 22px;
	background: #ffffff;
}
.control-box .ui-spinner-buttons{
	background: #ffffff;
}

.control-box .fa {
	font-size: 14px;
}

/* .report-item {z-index: 1;} */

.report-item-box {
	background: var(--jimzen-blue-light);
	Border:1px solid var(--jimzen-blue);
	padding: 5px;
/*	font-weight: bold; */
}

.item-moved {
	cursor: pointer;
}

.cke_editable {
	background:#ffffff;
	Border:1px solid #dddddd;
	Padding:5px; 
}


.active {
/* 	background: #d1dce1; */
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 3px #3888B0;
    -moz-box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 3px #3888B0;
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 3px #3888B0;
    /* z-index: 100000000; */
}

.report-item-box:hover{
	background: var(--jimzen-blue-light);
}

.report-item:hover{
	background: var(--jimzen-blue-light);
}

.cke_editable:hover{
	background: var(--jimzen-blue-light);
}
.cke_editable.active{
	background: var(--jimzen-blue-light);
}
.cke_editable:focus{
	outline: none;
}


.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}
.ui-resizable-e {
	cursor: e-resize; 
	width: 10px; 
	right: -4px; 
	height: 95%; 
	display: block;
    position: absolute;
    top: 1px;
    border: none;
}

[id^="jzFieldImageLine"] .ui-resizable-e{
	right: -4px; 
}
[id^="jzFieldImageRect"] .ui-resizable-e{
	right: -5px; 
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -6px;
    left: 0;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 0px;
}

.report-item.active .ui-resizable-handle:after {
	display: block;
    content: "";
    position: absolute;
    border: 1px;
    border-color: #3888B0;
    border-style: solid;
    width:3px;
    height:3px;
    z-index: auto;
    background: #FFFFFF;
}

.report-item.active .ui-resizable-e:after {
    top: calc(50% - 1px);
    left: -1px;
}
.report-item.active .ui-resizable-w:after {
    top: calc(50% - 1px);
    left: -1px;
}
.report-item.active .ui-resizable-s:after {
    left: calc(50% - 1px);
    top: 2px;
}
.report-item.image-rect.active .ui-resizable-e:after,
.report-item.image-line-div.active .ui-resizable-e:after {
    top: calc(50% - 1px);
    left: 7px;
}
.report-item.image-rect.active .ui-resizable-s:after,
.report-item.image-line-div.active .ui-resizable-s:after {
    left: calc(50% - 1px);
    top: 4px;
}
.report-item.image-rect .ui-resizable-se.ui-icon,
.report-item.image-line-div .ui-resizable-se.ui-icon {
   background-image:none;
   overflow: visible;
   width: 10px;
   height: 10px;
}
.report-item.image-rect.active .ui-resizable-se:after,
.report-item.image-line-div.active .ui-resizable-se:after {
    left: 13px;
    top: 13px;
}

#noReportItemNotice{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center; 
	height: 60%;
	background:transparent;
	display: none;
	color: rgba(51,51,51,0.6); 
	font-size:16px; 
	font-weight: 900;
}

#page-size-config-dialog ul > li{
	padding-bottom: 10px;
}