@charset "UTF-8";

ul.menu {
	margin: 0px;
	padding: 0px;
}

ul.menu li{
	width:199px;
	position:relative;
	background-color: #F1F0F1;
	list-style-type:none;
	margin-top: -1px;
	border: 1px solid #999;
}
ul.menu li a{
	display:block;
	color:#333;
	text-decoration:none;
	position:relative;
	text-align: left;
	padding: 4px;
}
ul.menu li a:hover{
	background-color: #CCC;
}
ul.menu li a.selected {
	background-color: #FED1A5;
}
ul.sub{
	display:none;
	position:absolute;
	left:199px;
	top:0px;
	margin: 0px;
	padding: 0px;
}
ul.menu{
	zoom:1;
	margin: 0px;
	padding: 0px;
}
ul.menu:after {
	height:0;
	visibility:hidden;
	content:".";
	display:block;
	clear:both;
}
ul.menu li a.arrow-sub {
	background-image: url(../image/arrow_sub.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.close-head {
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
	text-align: right;
}
.close-head a {
	background-image: url(../image/icon_close.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	font-size: 0.9em;
}
table.simple tr th {
	font-weight: normal;
	text-align: right;
}
table.simple tr td {
	text-align: left;
}
.box01 {
	background-color: #F1F0F1;
	border: 1px solid #999;
	padding: 6px;
}