@import url("../../../js/common/iziModal/css/iziModal.min.css");

html.iziModal-isAttached, html.iziModal-isOverflow{
	overflow: initial;
    overflow-y: hidden;
}

.iziModal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 90vh;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top .3s ease,height 0.3s ease;
    transform: translateZ(0);
    box-sizing: border-box;
    word-break: break-all;
}

.iziModal-wrap{
	height: 100% !important;
    overflow: hidden;
}

.iziModal-content{
	padding: 0;
	min-height:80px;
    transition: none;
	border-radius: 10px;
	/* overflow: hidden; */
}

.iziModal[id^=YSDialogIframe] .iziModal-content{
	padding: 0px 0px ;
	border-radius: 10px;
	overflow: hidden;
}

.iziModal-content .ctrl-area {
    padding: 0;
    position: fixed;
    top: 24px;
    right: 40px;
}
.iziModal-content .ctrl-area-btm {
    position: relative;
	margin-bottom: 18px;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
}

.iziModal-content .contents{
	margin:0px;
	display: flex;
    align-items: center;
}

.iziModal-content .confirm-button{
    background-color: rgb(240, 90, 0);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.05em;
    min-width: 105px;
    width: auto;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-radius: 18px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
    pointer-events: auto;
    box-shadow: none;
    border: none;
}

.iziModal-content .confirm-button:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.iziModal-content .ysdialog{
	padding: 0px;
}
.iziModal #yscontainer-wrap{
	max-height: 85vh;
}

.iziModal-content .ysdialog-contents{
	border: none;
    overflow: overlay;
    margin: 80px 10px 0px 10px;
    padding: 0px 30px 40px 30px;
}

.iziModal-content .ysdialog-contents.no-margin{
    margin: 0;
}

.iziModal-content .ysdialog-contents.no-padding{
    padding: 0;	
}

.iziModal-content .ysdialog-contents.type-alter {
    margin-top: 0px;
    padding: 32px 32px 18px 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
}
.iziModal-content .ysdialog-contents.type-alter i{
    width: 32px;
    margin: 0 20px 0 0;
}

.iziModal-content .ysdialog-contents.jzc-msg-box-content{
	border: none;
    overflow: auto;
    padding: 30px;
    margin: 0;
}

.iziModal-content .detail-form_history{
	margin-bottom: 40px;
}

.iziModal-content .jstree-leaf{
	position: relative;
}

.iziModal-content .jstree-leaf div.ui-jqgrid-view {
	position: relative;
}

.iziModal-content .jstree-wrap{
	width: 100%;
	border: none;
}


#YSDialog-pdm-box-link .iziModal-content .ysdialog-contents{
	width: 400px;	
}
	

.iziModal-content .ysdialog-contents.no-top-buttons{
    padding-top: 0px;
    margin-top: 0px;
}

.iziModal-content .btn{
	position: absolute;
	padding: 0;
    right: 40px;
    top: 24px;
    display: flex;
    z-index: 1;
    max-width: 1200px;
    background-color: transparent;
    overflow: visible;
}
.iziModal-content .btn ul li {
	margin: 0;
	padding: 0;
}
.iziModal-content .btn ul li a{
	color: var(--base-txt-color);
    height: 35px;
    border-radius: 24px;
    background: var(--jimzen-gray5);
    min-width: 105px;
    margin-right: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-out;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iziModal-content .btn ul li a:hover {
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.05);
}

.iziModal-content .btn ul li a.recommend{
	background-color: var(--jimzen-orange);
    color: #fff;
}

.iziModal-content .ctrl-area > div{
	height: initial;
}

.iziModal ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.iziModal ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px 4px var(--jimzen-gray5);
    border: 4px solid #ffffff00;
}
.iziModal .iziModal-wrap::-webkit-scrollbar-track {
    margin-top: 14px;
}

.iziModal.hasScroll .iziModal-wrap{
	border-radius: 10px;
	overflow-y: overlay;
    overflow-x: hidden;
}

.iziModal::after{
	display: none;
}

.iziModal .system-area-header {
	/* width: 10%; */
	right: 10px;
}

.iziModal .iziModal-iframe{
	margin-bottom: 0;
}

.iziModal .icon-close {
    background: #FFF;
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: -14px;
    top: -14px;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #a9a9a9;
    cursor: pointer;
}
.iziModal .icon-close:before {
	content: url(../../../image/admin/common/controller/icon_stop.svg);
}

.iziModal .icon-close:hover{
	background: #f5f5f5;

}

.iziModal .icon-close:focus {
	outline: none;
}

/*
.iziModal-content .detail-form{
	padding: 0px 20px;
	max-width: initial;
}
*/

.iziModal-header{
	transition: initial;
}
.ex-field-selecter {
    padding: 0;
    margin: 0;
}
.ex-field-selecter__item{
	width: 50%;
	padding: 5px;
}
.prev-area{
	max-height: 500px;
}