@import url("new-admin-common.css");
@import url("jz-js-tree-goods.css");
/* ---------------------------------------------- only online-shop used START -------------------------------------------------- */

/* variation not main checkbox */
input[type="checkbox"]+label.main-chk::before{
    content: url(../../../image/admin/common/controller/icon_stop.svg);
    width: 8px;
    height: 8px;
    display: inline-block;
    position: initial;
    margin-right: 8px;
    margin-left: 0px;
}
input[type="checkbox"]+label.main-chk {
    background: var(--jimzen-gray3);
    width: 62px;
    border-radius: 24px;
    border: none;
    font-size: 11px;
    line-height: 25px;
    padding: 0px 12px 0px 12px;
}
input[type="checkbox"]+label.main-chk::after {
    content: '';
}
input[type="checkbox"]:checked+label.main-chk{
	display: none;
}
input[type="checkbox"]:checked+label.main-chk::after {
	display: none;
}

input#seting2:checked+label,
input#another:checked+label{
	border: 3px solid var(--jimzen-navy);
	color: var(--jimzen-navy);
	/*
	background-image: url(../../../image/admin/common/icon_pencil.svg);
	background-repeat: no-repeat;
	background-size: 12px 17px;
	background-position: 20px center;
	padding-left: 42px;
	*/
}

.switch-btn-on-inputs__mem-num {
    padding-top: 10px;
}

#stock-show-cnf input[type="text"] {
    width: 6em;
}

#stock-show-cnf .jz-table td{vertical-align: middle;}
#stock-show-cnf .jz-table__row.header .jz-table__cell:nth-child(1) {width: 180px;}
#stock-show-cnf .jz-table__row.header .jz-table__cell:nth-child(2) {width: 390px;}

/* folder_variation*/
.icon-variation{
	content: url(../../../js/common/jstree/images/onlineshop/icon-variation.svg);
	border-radius: 50%;
	background-color: #fff;
}
.foloder-status-icon {
    position: absolute;
    right: -3px;
    bottom: -3px;
    width: 12px;
    height: 12px;
}

.foloder2-status-icon{
	position: absolute;
	top: 17px;
    left: 17px;
	width: 10px;
	height: 10px;
}

.show-same-flag-div {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
}

/*************/

/* delivery price area */
.delivery-price-area {
    width: 100%;
}

.delivery-price-area__row{
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 40px;
}
.delivery-price-area__row:last-child{ margin: 0;}

.delivery-price-area__prefecture {
    min-width: 200px;
    width: auto;
}
.delivery-price-area__row__place,
.delivery-price-area__row__price{
    margin-right: 20px;
    white-space: nowrap;
    display: inline-block;
    width: 60px;
}
.delivery-price-area__row .detail-form__row__sub-title{
	width: 100px;
}


/* variation-list */
.var-ptn-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    line-height: 1.5;
    align-items: center;
}
.var-ptn-list > li{
	padding-right: 20px;
	display: block;
}

.var-ptn-list__data-key{
	color: var(--jimzen-gray1);
	font-weight: normal;
}

.var-ptn-list__data-val{
	color: var(--jimzen-blue);
	font-weight: bold;
	padding-left: 10px;
}
.var-ptn-list__data-val-empty{
	color: var(--error-col);
	font-weight: bold;
	padding-left: 10px;
}
.var-ptn-list-area.another{
	padding-left: 50px;
	color: var(--jimzen-gray1);
}

.main-another-num-cnt {
    margin: 0px;
    padding: 0px 30px;
    cursor: pointer;
    border: 1px solid var(--jimzen-gray2);
    background: var(--jimzen-navy-light);
    border-radius: 10px;
}

.iziModal .accordion-area{
	max-width: initial;
}

.variation-same-input{
	width: 99%;
 	padding:0px 0.5em 0px 5px;
 	border: 0px !important;
     background-color: transparent;
     border-bottom: 1px solid var(--jimzen-gray1) !important;
 	font-size:15px;
 	color: #333333;
 	line-height:1.6;
 	cursor: text;
}
#variation-detail-conf{
	margin: 0;
	padding: 0;
}

.variation-inherit-have{
	max-height: 400px;
}

.status-area .detail-form__row__title-cell{
	align-items: center;
}

.addtime-slot-form .search-column {
    display: grid;
    grid-template-columns: minmax(140px, 25%) 37px minmax(140px, 25%) 1fr;
}
.addtime-slot-form .search-column a{ position: relative;}

.main-tag{
	background: url(../../../image/admin/common/icon_main_L.svg) no-repeat;
	width: 48px;
    height: 18px;
    position: relative;
}

.modern-list__loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 50px auto;
    display: none;
}

.modern-list__loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.modern-list__loader-ellips__dot:nth-child(1),
.modern-list__loader-ellips__dot:nth-child(4){
	animation-name: reveal;
}

.modern-list__loader-ellips__dot:nth-child(1),
.modern-list__loader-ellips__dot:nth-child(2) {
    left: 0;
}
.modern-list__loader-ellips__dot:nth-child(3) { 
    left: 1.5em; 
}
.modern-list__loader-ellips__dot:nth-child(2),
.modern-list__loader-ellips__dot:nth-child(3) { 
    animation-name: slide;
}

.modern-list__loader-ellips__dot:nth-child(4) { 
    left: 3em; 
}
@keyframes reveal{from{transform:scale(0.001)}to{transform:scale(1)}}
@keyframes slide{to{transform:translateX(1.5em)}}

#stock-show-cnf i {
    width: 10px;
}

.stock-status-disp-area {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-status-disp-area__icon {
    padding-left: 20px;
}

/* contact */
.jzc-wrapper{
	overflow: auto;
    height: 550px
}

.jzc-title-area {
    font-size: 20px;
}

.jzc-util-underline {
    border-top: 1px solid var(--jimzen-gray6);
    padding-bottom: 40px;
}

.jzc-msg-area {
	display: flex;
	padding-bottom: 28px;
}
.jzc-msg-area.align-l {
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.jzc-msg-area.align-r {
	align-items: flex-end;
    justify-content: flex-end;
}

.jzc-msg-area__detail {
	position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    min-height: 55px;
    min-width: 200px;
}
.jzc-msg-area.align-l .jzc-msg-area__detail-wrap{text-align: left;}
.jzc-msg-area.align-r .jzc-msg-area__detail-wrap{text-align: right;}

.jzc-msg-area.align-l .jzc-msg-area__detail {
	background: var(--jimzen-gray6);
	border: 2px solid var(--jimzen-gray3);
}
.jzc-msg-area.align-r .jzc-msg-area__detail {
	background: var(--jimzen-blue-light);
	border: 2px solid var(--jimzen-blue);
}

.jzc-msg-area.align-l .jzc-msg-area__detail:before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: -10px;
    margin-top: -12px;
    width: 20px;
    height: 20px;
    background: var(--jimzen-gray6);
    transform: rotate(45deg);
}

.jzc-msg-area.align-r .jzc-msg-area__detail:before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: -10px;
    margin-top: -12px;
    width: 20px;
    height: 20px;
    background: var(--jimzen-blue-light);
    transform: rotate(45deg);
}

.jzc-msg-area.align-l .jzc-msg-area__detail:after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: -12px;
    margin-top: -12px;
    width: 20px;
    height: 20px;
    background: var(--jimzen-gray3);
    transform: rotate(45deg);
    z-index: -1;
}

.jzc-msg-area.align-r .jzc-msg-area__detail:after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: -12px;
    margin-top: -12px;
    width: 20px;
    height: 20px;
    background: var(--jimzen-blue);
    transform: rotate(45deg);
    z-index: -1;
}

.jzc-msg-area__send-box {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    justify-content: flex-end;
}
.jzc-msg-area__send-box > div {
    margin-left: 10px;
}
.jzc-msg-area__send-box .file-up{
	color: var(--jimzen-gray1);
    font-size: 20px;
    cursor: pointer;
}

.jzc-msg-area__btn {
	background: var(--jimzen-gray4);
    padding: 4px 28px;
    cursor: -webkit-grab;
    border-radius: 50px;
}

.jzc-msg-area__detail textarea,
.jzc-msg-area__detail input[type="text"]  {
    width: calc(100% - 20px);
    background: white;
    margin: 10px;
}
.jzc-msg-area__detail textarea{
	max-height: 220px;
	resize: none;
}

.jzc-user-icon-area {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 20px;
}

/** contact end **/

.jz-table.order-detail .header > td:nth-child(1) {
	min-width: 400px;
}

.order-trn-form {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.order-trn-form__header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    align-items: baseline;
}
.order-trn-form__comment {
    padding-bottom: 20px;
}
.order-trn-form__comment textarea {
    max-width: 700px;
}

/* order-detail-form */
.order-detail__product-area .img-area{
	width: 100px;
	height: 100px;
	border: 1px solid var(--jimzen-gray5);
	position: relative;
    overflow: hidden;
    margin-right: 20px;
}
.img-area img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-detail__product-area{
	display: flex;
}



/* .table-tran */
#trn-data-list .jz-table{margin-bottom: 10px;}
.jz-table-wrapper.table-tran {
    height: 400px;
}

#shippedConfirmTable .jz-table__row.header .jz-table__cell:nth-child(1) .jz-table__resizer{min-width: 100px;}
#shippedConfirmTable .jz-table__row.header .jz-table__cell:nth-child(2) .jz-table__resizer{min-width: 220px;}
#shippedConfirmTable .jz-table__row.header .jz-table__cell:nth-child(3) .jz-table__resizer{min-width: 150px;}
#shippedConfirmTable .jz-table__row.header .jz-table__cell:nth-child(4) .jz-table__resizer{min-width: 150px;}

#ctrl-his-table .jz-table__row.header .jz-table__cell:nth-child(1) .jz-table__resizer{min-width: 50px;}
#ctrl-his-table .jz-table__row.header .jz-table__cell:nth-child(2) .jz-table__resizer{min-width: 50px;}
#ctrl-his-table .jz-table__row.header .jz-table__cell:nth-child(3) .jz-table__resizer{min-width: 150px;}
#ctrl-his-table .jz-table__row.header .jz-table__cell:nth-child(4) .jz-table__resizer{min-width: 100px;}

#cancelTranDetailTable .jz-table__row.header .jz-table__cell:nth-child(1) .jz-table__resizer{min-width: 60px;}
#cancelTranDetailTable .jz-table__row.header .jz-table__cell:nth-child(2) .jz-table__resizer{min-width: 60px;}
#cancelTranDetailTable .jz-table__row.header .jz-table__cell:nth-child(3) .jz-table__resizer{min-width: 180px;}
#cancelTranDetailTable .jz-table__row.header .jz-table__cell:nth-child(4) .jz-table__resizer{min-width: 180px;}
#cancelTranDetailTable .jz-table__row.header .jz-table__cell:nth-child(5) .jz-table__resizer{min-width: 60px;}

#trn-data-list .jz-table__row.header .jz-table__cell:nth-child(1) .jz-table__resizer{min-width: 60px;}
#trn-data-list .jz-table__row.header .jz-table__cell:nth-child(2) .jz-table__resizer{min-width: 60px;}
#trn-data-list .jz-table__row.header .jz-table__cell:nth-child(3) .jz-table__resizer{min-width: 210px;}
#trn-data-list .jz-table__row.header .jz-table__cell:nth-child(4) .jz-table__resizer{min-width: 210px;}
#trn-data-list .jz-table__row.header .jz-table__cell:nth-child(5) .jz-table__resizer{min-width: 110px;}

/* .order-detail-form{ padding: 0px 20px;} */

.order-detail-form > li{	margin: 20px 0px;	flex-wrap: wrap;}
.order-detail-form > li:last-child{ padding-bottom: 20px;}

.order-detail-form.head > li{ margin: 4px 0px;}
.order-detail-form.head > li:last-child{ padding-bottom: 40px;}

.order-detail-form .order-detail-form__row-brank{
	padding: 20px;
}

.order-detail-form__title-cell {
	color: var(--jimzen-gray1);
    font-weight: bold;
    min-width: 180px;
}

.order-detail-form__content-cell {
    margin-left: auto;
    width: calc(100% - 180px);
}

.order-detail-total-area{ display: flex;}

.price-minus {
    color: var(--error-col);
}

.order-trn-balance{
	max-height: 400px;
}

.order-trn-balance table .jz-table__row:not(.header) .jz-table__cell {font-size: 15px;}
.order-trn-balance table .jz-table__row:not(.header) .jz-table__cell:nth-child(5) { font-size: 13px;}
.order-trn-balance table .jz-table__row:not(.header) td:nth-child(1) {
	background: #cc000010;
	font-weight: bold;
	text-align: right;
	box-shadow: inset 2px 0px 0 0px white;
}
.order-trn-balance table .jz-table__row:not(.header) td:nth-child(2) {
    background: var(--jimzen-blue-light);
    font-weight: bold;
    text-align: right;
    box-shadow: inset -2px 0px 0 0px white;
}
.order-trn-balance table .jz-table__row:not(.header).total-price-area-detail td:nth-child(1) {
    border-bottom: 4px solid var(--jimzen-gray3);
}
.order-trn-balance table .jz-table__row:not(.header).total-price-area-detail td:nth-child(2) {
    border-bottom: 4px solid var(--jimzen-gray3);
}

.order-trn-balance .jz-table__cell-brank {
    height: 1px;
    background: var(--jimzen-gray4) !important;
    padding: 0;
}

.order-trn-balance .jz-table__cell.red{color: var(--error-col);}

.total-price-area-title {
    font-size: 13px;
    text-align: center;
    border-top: 2px solid var(--jimzen-gray4);
    height: 48px;
    vertical-align: bottom;
}

.total-price-area-detail{vertical-align: bottom;}
.total-price-area-detail > td { position: relative; padding: 12px;}
.total-price-area-detail > td:nth-child(2):before {
    content: '';
    border: 10px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -14px;
    left: -10px;
    border-bottom: 10px solid var(--jimzen-gray3);
}

.total-balance{
    text-align: center;
    width: 150px;
    position: relative;
}

.total-balance.red{color: var(--error-col)}
.total-balance .eventStatusTitle {
	position: absolute;
    left: 124px;
    bottom: 4px;
    white-space: nowrap;
}

.typ-KV-area.total-price-head {
    align-items: center;
    padding: 10px 0px 60px 0px;
}

.new-ml-sub-btn-area {
	position: absolute;
    top: -30px;
    right: 0px;
}


/* ---------------------------------------------- only online-shop used END -------------------------------------------------- */




