<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmall.infrastructure.dao.GoodsImgMapper" >
  <resultMap id="BaseResultMap" type="com.tmall.domain.entity.valueobject.GoodsImg" >
    <id column="img_id" property="imgId" jdbcType="BIGINT" />
    <result column="spu_id" property="spuId" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="img_file_name" property="imgFileName" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="img_title" property="imgTitle" jdbcType="VARCHAR" />
    <result column="img_desc" property="imgDesc" jdbcType="VARCHAR" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    img_id, spu_id, sku_id, img_file_name, img_path, img_title, img_desc, sort_order, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from GOODS_IMG
    where img_id = #{imgId,jdbcType=BIGINT}
  </select>
  <select id="selectBySpuId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from GOODS_IMG
    where spu_id = #{spuId,jdbcType=BIGINT}
    ORDER BY sort_order
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from GOODS_IMG
    where img_id = #{imgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBySpuId" parameterType="java.lang.Long" >
    delete from GOODS_IMG
    where spu_id = #{spuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tmall.domain.entity.valueobject.GoodsImg" >
    insert into GOODS_IMG (img_id, spu_id, sku_id, 
      img_file_name, img_path, img_title, 
      img_desc, sort_order, create_time)
    values (#{imgId,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, 
      #{imgFileName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, #{imgTitle,jdbcType=VARCHAR}, 
      #{imgDesc,jdbcType=VARCHAR}, #{sortOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="batchInsert" parameterType="com.tmall.domain.entity.valueobject.GoodsImg">
    insert into GOODS_IMG (img_id, spu_id, sku_id,
    img_file_name, img_path, img_title,
    img_desc, sort_order, create_time)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.imgId,jdbcType=BIGINT}, #{item.spuId,jdbcType=BIGINT}, #{item.skuId,jdbcType=BIGINT},
      #{item.imgFileName,jdbcType=VARCHAR}, #{item.imgPath,jdbcType=VARCHAR}, #{item.imgTitle,jdbcType=VARCHAR},
      #{item.imgDesc,jdbcType=VARCHAR}, #{item.sortOrder,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.tmall.domain.entity.valueobject.GoodsImg" >
    insert into GOODS_IMG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="spuId != null" >
        spu_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="imgFileName != null" >
        img_file_name,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="imgTitle != null" >
        img_title,
      </if>
      <if test="imgDesc != null" >
        img_desc,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        #{imgId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null" >
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="imgFileName != null" >
        #{imgFileName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="imgTitle != null" >
        #{imgTitle,jdbcType=VARCHAR},
      </if>
      <if test="imgDesc != null" >
        #{imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.domain.entity.valueobject.GoodsImg" >
    update GOODS_IMG
    <set >
      <if test="spuId != null" >
        spu_id = #{spuId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="imgFileName != null" >
        img_file_name = #{imgFileName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="imgTitle != null" >
        img_title = #{imgTitle,jdbcType=VARCHAR},
      </if>
      <if test="imgDesc != null" >
        img_desc = #{imgDesc,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.domain.entity.valueobject.GoodsImg" >
    update GOODS_IMG
    set spu_id = #{spuId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      img_file_name = #{imgFileName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      img_title = #{imgTitle,jdbcType=VARCHAR},
      img_desc = #{imgDesc,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where img_id = #{imgId,jdbcType=BIGINT}
  </update>
</mapper>