<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmall.infrastructure.dao.GoodsBasicSetupMapper" >
  <resultMap id="BaseResultMap" type="com.tmall.domain.entity.GoodsBasicSetup" >
    <id column="baisc_setup_id" property="baiscSetupId" jdbcType="INTEGER" />
    <result column="each_buy_max_quantity" property="eachBuyMaxQuantity" jdbcType="INTEGER" />
    <result column="each_buy_min_quantity" property="eachBuyMinQuantity" jdbcType="INTEGER" />
    <result column="total_buy_max_quantity" property="totalBuyMaxQuantity" jdbcType="INTEGER" />
    <result column="delivery_method_id" property="deliveryMethodId" jdbcType="INTEGER" />
    <result column="is_new" property="newFlag" jdbcType="TINYINT" />
    <result column="sold_out_mail_flag" property="soldOutMailFlag" jdbcType="TINYINT" />
    <result column="stock_warn_mail_flag" property="stockWarnMailFlag" jdbcType="TINYINT" />
    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
    <result column="stock_show_way" property="stockShowWay" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tmall.domain.entity.GoodsBasicSetup" extends="BaseResultMap" >
    <result column="stock_status" property="stockStatus" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    baisc_setup_id, each_buy_max_quantity, each_buy_min_quantity, total_buy_max_quantity, 
    delivery_method_id, is_new, sold_out_mail_flag, stock_warn_mail_flag, warn_stock, 
    stock_show_way, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    stock_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from GOODS_BASIC_SETUP
    where baisc_setup_id = #{baiscSetupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from GOODS_BASIC_SETUP
    where baisc_setup_id = #{baiscSetupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.domain.entity.GoodsBasicSetup" >
    insert into GOODS_BASIC_SETUP (baisc_setup_id, each_buy_max_quantity, 
      each_buy_min_quantity, total_buy_max_quantity, 
      delivery_method_id, is_new, sold_out_mail_flag, 
      stock_warn_mail_flag, warn_stock, stock_show_way, 
      create_time, update_time, stock_status
      )
    values (#{baiscSetupId,jdbcType=INTEGER}, #{eachBuyMaxQuantity,jdbcType=INTEGER}, 
      #{eachBuyMinQuantity,jdbcType=INTEGER}, #{totalBuyMaxQuantity,jdbcType=INTEGER}, 
      #{deliveryMethodId,jdbcType=INTEGER}, #{newFlag,jdbcType=TINYINT}, #{soldOutMailFlag,jdbcType=TINYINT}, 
      #{stockWarnMailFlag,jdbcType=TINYINT}, #{warnStock,jdbcType=INTEGER}, #{stockShowWay,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{stockStatus,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.domain.entity.GoodsBasicSetup" >
    insert into GOODS_BASIC_SETUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="baiscSetupId != null" >
        baisc_setup_id,
      </if>
      <if test="eachBuyMaxQuantity != null" >
        each_buy_max_quantity,
      </if>
      <if test="eachBuyMinQuantity != null" >
        each_buy_min_quantity,
      </if>
      <if test="totalBuyMaxQuantity != null" >
        total_buy_max_quantity,
      </if>
      <if test="deliveryMethodId != null" >
        delivery_method_id,
      </if>
      <if test="newFlag != null" >
        is_new,
      </if>
      <if test="soldOutMailFlag != null" >
        sold_out_mail_flag,
      </if>
      <if test="stockWarnMailFlag != null" >
        stock_warn_mail_flag,
      </if>
      <if test="warnStock != null" >
        warn_stock,
      </if>
      <if test="stockShowWay != null" >
        stock_show_way,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="stockStatus != null" >
        stock_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="baiscSetupId != null" >
        #{baiscSetupId,jdbcType=INTEGER},
      </if>
      <if test="eachBuyMaxQuantity != null" >
        #{eachBuyMaxQuantity,jdbcType=INTEGER},
      </if>
      <if test="eachBuyMinQuantity != null" >
        #{eachBuyMinQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalBuyMaxQuantity != null" >
        #{totalBuyMaxQuantity,jdbcType=INTEGER},
      </if>
      <if test="deliveryMethodId != null" >
        #{deliveryMethodId,jdbcType=INTEGER},
      </if>
      <if test="newFlag != null" >
        #{newFlag,jdbcType=TINYINT},
      </if>
      <if test="soldOutMailFlag != null" >
        #{soldOutMailFlag,jdbcType=TINYINT},
      </if>
      <if test="stockWarnMailFlag != null" >
        #{stockWarnMailFlag,jdbcType=TINYINT},
      </if>
      <if test="warnStock != null" >
        #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="stockShowWay != null" >
        #{stockShowWay,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stockStatus != null" >
        #{stockStatus,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.domain.entity.GoodsBasicSetup" >
    update GOODS_BASIC_SETUP
    <set >
      <if test="eachBuyMaxQuantity != null" >
        each_buy_max_quantity = #{eachBuyMaxQuantity,jdbcType=INTEGER},
      </if>
      <if test="eachBuyMinQuantity != null" >
        each_buy_min_quantity = #{eachBuyMinQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalBuyMaxQuantity != null" >
        total_buy_max_quantity = #{totalBuyMaxQuantity,jdbcType=INTEGER},
      </if>
      <if test="deliveryMethodId != null" >
        delivery_method_id = #{deliveryMethodId,jdbcType=INTEGER},
      </if>
      <if test="newFlag != null" >
        is_new = #{newFlag,jdbcType=TINYINT},
      </if>
      <if test="soldOutMailFlag != null" >
        sold_out_mail_flag = #{soldOutMailFlag,jdbcType=TINYINT},
      </if>
      <if test="stockWarnMailFlag != null" >
        stock_warn_mail_flag = #{stockWarnMailFlag,jdbcType=TINYINT},
      </if>
      <if test="warnStock != null" >
        warn_stock = #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="stockShowWay != null" >
        stock_show_way = #{stockShowWay,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stockStatus != null" >
        stock_status = #{stockStatus,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where baisc_setup_id = #{baiscSetupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tmall.domain.entity.GoodsBasicSetup" >
    update GOODS_BASIC_SETUP
    set each_buy_max_quantity = #{eachBuyMaxQuantity,jdbcType=INTEGER},
      each_buy_min_quantity = #{eachBuyMinQuantity,jdbcType=INTEGER},
      total_buy_max_quantity = #{totalBuyMaxQuantity,jdbcType=INTEGER},
      delivery_method_id = #{deliveryMethodId,jdbcType=INTEGER},
      is_new = #{newFlag,jdbcType=TINYINT},
      sold_out_mail_flag = #{soldOutMailFlag,jdbcType=TINYINT},
      stock_warn_mail_flag = #{stockWarnMailFlag,jdbcType=TINYINT},
      warn_stock = #{warnStock,jdbcType=INTEGER},
      stock_show_way = #{stockShowWay,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      stock_status = #{stockStatus,jdbcType=LONGVARCHAR}
    where baisc_setup_id = #{baiscSetupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.domain.entity.GoodsBasicSetup" >
    update GOODS_BASIC_SETUP
    set each_buy_max_quantity = #{eachBuyMaxQuantity,jdbcType=INTEGER},
      each_buy_min_quantity = #{eachBuyMinQuantity,jdbcType=INTEGER},
      total_buy_max_quantity = #{totalBuyMaxQuantity,jdbcType=INTEGER},
      delivery_method_id = #{deliveryMethodId,jdbcType=INTEGER},
      is_new = #{newFlag,jdbcType=TINYINT},
      sold_out_mail_flag = #{soldOutMailFlag,jdbcType=TINYINT},
      stock_warn_mail_flag = #{stockWarnMailFlag,jdbcType=TINYINT},
      warn_stock = #{warnStock,jdbcType=INTEGER},
      stock_show_way = #{stockShowWay,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where baisc_setup_id = #{baiscSetupId,jdbcType=INTEGER}
  </update>
</mapper>