<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.infrastructure.dao.GoodsAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.tmall.domain.entity.GoodsAttrValue">
    <id column="attr_value_id" jdbcType="INTEGER" property="attrValueId" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="is_show" jdbcType="TINYINT" property="showFlag" />
    <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    attr_value_id, attr_value, is_show, sort_order, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GOODS_ATTR_VALUE
    where attr_value_id = #{attrValueId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from GOODS_ATTR_VALUE
    where attr_value_id = #{attrValueId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.domain.entity.GoodsAttrValue">
    insert into GOODS_ATTR_VALUE (attr_value_id, attr_value, is_show, 
      sort_order, create_time, update_time
      )
    values (#{attrValueId,jdbcType=INTEGER}, #{attrValue,jdbcType=VARCHAR}, #{showFlag,jdbcType=TINYINT}, 
      #{sortOrder,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.domain.entity.GoodsAttrValue">
    insert into GOODS_ATTR_VALUE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrValueId != null">
        attr_value_id,
      </if>
      <if test="attrValue != null">
        attr_value,
      </if>
      <if test="showFlag != null">
        is_show,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrValueId != null">
        #{attrValueId,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null">
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null">
        #{showFlag,jdbcType=TINYINT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.domain.entity.GoodsAttrValue">
    update GOODS_ATTR_VALUE
    <set>
      <if test="attrValue != null">
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="showFlag != null">
        is_show = #{showFlag,jdbcType=TINYINT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attr_value_id = #{attrValueId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.domain.entity.GoodsAttrValue">
    update GOODS_ATTR_VALUE
    set attr_value = #{attrValue,jdbcType=VARCHAR},
      is_show = #{showFlag,jdbcType=TINYINT},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where attr_value_id = #{attrValueId,jdbcType=INTEGER}
  </update>
</mapper>