<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.infrastructure.dao.GoodsAttrNameMapper">
  <resultMap id="BaseResultMap" type="com.tmall.domain.entity.GoodsAttrName">
    <id column="attr_name_id" jdbcType="INTEGER" property="attrNameId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="is_essential_attr" jdbcType="TINYINT" property="essentialAttrFlag" />
    <result column="attr_type" jdbcType="TINYINT" property="attrType" />
    <result column="is_show" jdbcType="TINYINT" property="showFlag" />
    <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    attr_name_id, attr_name, category_id, is_essential_attr, attr_type, is_show, sort_order, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GOODS_ATTR_NAME
    where attr_name_id = #{attrNameId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from GOODS_ATTR_NAME
    where attr_name_id = #{attrNameId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.domain.entity.GoodsAttrName">
    insert into GOODS_ATTR_NAME (attr_name_id, attr_name, category_id, 
      is_essential_attr, attr_type, is_show, 
      sort_order, create_time, update_time
      )
    values (#{attrNameId,jdbcType=INTEGER}, #{attrName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{essentialAttrFlag,jdbcType=TINYINT}, #{attrType,jdbcType=TINYINT}, #{showFlag,jdbcType=TINYINT}, 
      #{sortOrder,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.domain.entity.GoodsAttrName">
    insert into GOODS_ATTR_NAME
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrNameId != null">
        attr_name_id,
      </if>
      <if test="attrName != null">
        attr_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="essentialAttrFlag != null">
        is_essential_attr,
      </if>
      <if test="attrType != null">
        attr_type,
      </if>
      <if test="showFlag != null">
        is_show,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrNameId != null">
        #{attrNameId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="essentialAttrFlag != null">
        #{essentialAttrFlag,jdbcType=TINYINT},
      </if>
      <if test="attrType != null">
        #{attrType,jdbcType=TINYINT},
      </if>
      <if test="showFlag != null">
        #{showFlag,jdbcType=TINYINT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.domain.entity.GoodsAttrName">
    update GOODS_ATTR_NAME
    <set>
      <if test="attrName != null">
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="essentialAttrFlag != null">
        is_essential_attr = #{essentialAttrFlag,jdbcType=TINYINT},
      </if>
      <if test="attrType != null">
        attr_type = #{attrType,jdbcType=TINYINT},
      </if>
      <if test="showFlag != null">
        is_show = #{showFlag,jdbcType=TINYINT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where attr_name_id = #{attrNameId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.domain.entity.GoodsAttrName">
    update GOODS_ATTR_NAME
    set attr_name = #{attrName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      is_essential_attr = #{essentialAttrFlag,jdbcType=TINYINT},
      attr_type = #{attrType,jdbcType=TINYINT},
      is_show = #{showFlag,jdbcType=TINYINT},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where attr_name_id = #{attrNameId,jdbcType=INTEGER}
  </update>
</mapper>