<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.infrastructure.dao.GoodsAttrMapper">
  <resultMap id="BaseResultMap" type="com.tmall.domain.entity.valueobject.GoodsAttr">
    <id column="attr_id" jdbcType="BIGINT" property="attrId" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <association property="goodsAttrName" column="shop_id" javaType="com.tmall.domain.entity.valueobject.GoodsAttrName" resultMap="goodsAttrNameResultMap"/>
    <collection property="goodsAttrValueList" ofType="com.tmall.domain.entity.valueobject.GoodsAttrValue"
                resultMap="goodsAttrValueResultMap">
    </collection>
  </resultMap>

  <resultMap id="goodsAttrNameResultMap" type="com.tmall.domain.entity.valueobject.GoodsAttrName">
    <id column="attr_name_id" jdbcType="INTEGER" property="attrNameId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="is_essential_attr" jdbcType="TINYINT" property="essentialAttrFlag" />
    <result column="attr_type" jdbcType="TINYINT" property="attrType" />
    <result column="na_sort_order" jdbcType="TINYINT" property="sortOrder" />
  </resultMap>

  <resultMap id="goodsAttrValueResultMap" type="com.tmall.domain.entity.valueobject.GoodsAttrValue">
    <id column="attr_value_id" jdbcType="INTEGER" property="attrValueId" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="va_sort_order" jdbcType="TINYINT" property="sortOrder" />
  </resultMap>

  <sql id="Base_Column_List">
    attr_id, spu_id,attr_name_id, attr_value_id,shop_id,category_id,attr_name,
    is_essential_attr, attr_type, is_show, na.sort_order na_sort_order,
    attr_value,is_show, va.sort_order va_sort_order
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from GOODS_ATTR
    where attr_id = #{attrId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from GOODS_ATTR
    where attr_id = #{attrId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBySpuId" parameterType="java.lang.Long">
    delete from GOODS_ATTR
    where spu_id = #{spuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tmall.domain.entity.valueobject.GoodsAttr">
    insert into GOODS_ATTR (attr_id, spu_id, attr_name_id,
      attr_value_id)
    values (#{attrId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsAttrNameId,jdbcType=INTEGER},
      #{goodsAttrValueId,jdbcType=INTEGER})
  </insert>
  <insert id="batchInsert" parameterType="com.tmall.domain.entity.valueobject.GoodsAttr">
    insert into GOODS_ATTR (attr_id, spu_id, attr_name_id,
    attr_value_id)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{attrId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsAttrNameId,jdbcType=INTEGER},
      #{goodsAttrValueId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.domain.entity.valueobject.GoodsAttr">
    insert into GOODS_ATTR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        attr_id,
      </if>
      <if test="goodsId != null">
        spu_id,
      </if>
      <if test="goodsAttrNameId != null">
        attr_name_id,
      </if>
      <if test="goodsAttrValueId != null">
        attr_value_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        #{attrId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsAttrNameId != null">
        #{goodsAttrNameId,jdbcType=INTEGER},
      </if>
      <if test="goodsAttrValueId != null">
        #{goodsAttrValueId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.domain.entity.valueobject.GoodsAttr">
    update GOODS_ATTR
    <set>
      <if test="goodsId != null">
        spu_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsAttrNameId != null">
        attr_name_id = #{goodsAttrNameId,jdbcType=INTEGER},
      </if>
      <if test="goodsAttrValueId != null">
        attr_value_id = #{goodsAttrValueId,jdbcType=INTEGER},
      </if>
    </set>
    where attr_id = #{attrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.domain.entity.valueobject.GoodsAttr">
    update GOODS_ATTR
    set spu_id = #{goodsId,jdbcType=BIGINT},
      attr_name_id = #{goodsAttrNameId,jdbcType=INTEGER},
      attr_value_id = #{goodsAttrValueId,jdbcType=INTEGER}
    where attr_id = #{attrId,jdbcType=BIGINT}
  </update>

  <insert id="batchInsertGoodsAttr" parameterType="java.util.List">
    INSERT INTO GOODS_ATTR (attr_id,spu_id,attr_name_id,attr_value_id)
    VALUES
    <foreach collection="goodsAttrlist" item="item" index="index" separator="," >
      (#{item.AttrId},#{item.spuId},#{item.AttrNameId},#{item.AttrValueId})
    </foreach>
  </insert>

  <delete id="batchDeleteGoodsAttr" parameterType="java.util.List">
    DELETE FROM GOODS_ATTR WHERE attr_id IN
    <foreach collection="goodsAttrIdlist" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>


  <select id="selectGoodsAttrBySpuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from GOODS_ATTR attr
    LEFT JOIN GOODS_ATTR_NAME ON attr.attr_name_id = na.attr_name_id
    LEFT JOIN GOODS_ATTR_VALUE ON attr.attr_value_id = na.attr_value_id
    where spu_id = = #{spuId,jdbcType=BIGINT}
  </select>
</mapper>