@CHARSET "UTF-8";

#form-area {
	float: right;
	width: 100%;
	margin-left: -150px;
}
#form-area-in {
	margin-left: 160px;
	background-color: #FFF;
	border: 1px solid #999;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	padding-left: 20px;
}

#form-area-btn {
	margin-left: 160px;
	background-color: #DFE7C3;
	padding: 8px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	text-align: center;
}
#form-item {
	float: right;
	width: 150px;
	padding: 0px;
	margin: 0px;
	background-color: #D3E1F0;
	border-radius: 7px;         /* CSS3 */
	-moz-border-radius: 7px;    /* Firefox */
	-webkit-border-radius: 7px; /* Safari,Chrome */
}
#form-item-in {
	padding: 8px;
	margin: 0px;
}
#form-item ul {
	padding: 0px;
	list-style-type: none;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#form-item ul li {
	border: 1px solid #808080;
	margin-top: -1px;
	background-color: #f7f7f7;
	padding: 4px;
	text-align: center;
}
#form-item ul li.item-title {
	color: #FFF;
	background-color: #999;
	font-weight: bold;
}
#jzform {
	margin-bottom: 10px;
}
#jzformarea  {
	width: auto !important;
	height: auto !important;
	padding: 7px;
	min-height: 350px;
	border: 2px dotted #CCCCCC;
}
#jz-form-area {
	float: right;
	width: 100%;
	margin-left: -190px;
}
#jz-form-area-in {
	margin-left: 200px;
	margin-right: 10px;
	background-color: #FFF;
	border: 2px solid #999;
}
.drag-target {
	background-color: #FFFFFF;
	background-image: url("image/drag_target.png");
	background-position: 128px -3px;
	background-repeat: no-repeat;
	padding: 7px 20px 3px 205px;
	clear: both;
}
.form-title {
	padding: 5px;
	color: #FFFFFF;
	text-align: center;
    font-weight: bold;
	background-color: #999999;
}
#jz-form-area-in div.jzformarea-border {
	border: 8px solid #F7F7F7;
}
#jz-form-area-in div.selected{
	border-color: #DEDEDE;
}
.jzformarea-content {
	color: #999999;
	text-align: center;
	padding-top: 165px;
	padding-bottom: 165px;
	cursor: default;
}
#jz-form-item {
	float: right;
	width: 180px;
	padding: 0px;
	margin: 0px;
	background-color: #D3E1F0;
}
#jz-form-item-in {
	padding: 9px 8px;
	margin: 0px;
}
#jz-form-item ul {
	padding: 0px;
	list-style-type: none;
	margin-top: -1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#jz-form-item ul ul {
	border: 1px solid #808080;
	background-color: #F7F7F7;
	min-height: 28px;
}
#jz-form-item ul li {
	margin-top: -1px;
	background-color: #f7f7f7;
	padding: 1px;
	text-align: center;
}
#jz-form-item ul li.item-title {
	background-image: url("image/arrow_white_down.png");
    background-position: 145px 11px;
    background-repeat: no-repeat;
    display: block;
    padding: 4px 4px 4px 8px;
    text-align: left;
    text-decoration: none;
	color: #FFFFFF;
	background-color: #999999;
	font-weight: bold;
}
#jz-form-item ul li.selected {
	background-image: url("image/arrow_white_right.png");
	background-position: 145px 6px;
}
#jz-form-item ul li.over {
	background-color: #808080;
	cursor: pointer;
}
#jzformarea ul {
	list-style-type: none;
	margin: 0px;
    padding: 0px;
    width: 100%;
	min-height: 350px;
}
#jzformarea li {
	background-color: #f7f7f7;
	text-align: center;
	margin: 2px;
	min-height: 36px;
}

#jzformarea li table {
	min-height: 36px;
	height: 36px;
}

.input-standard {
	background-color: #EFEFEF;
	background-image: url("image/item_standard.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-text {
	background-color: #EFEFEF;
	background-image: url("image/item_text.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-textarea {
	background-color: #EFEFEF;
	background-image: url("image/item_text.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-radio {
	background-color: #EFEFEF;
	background-image: url("image/item_radio.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-select {
	background-color: #EFEFEF;
	background-image: url("image/item_select.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-checkbox {
	background-color: #EFEFEF;
	background-image: url("image/item_checkbox.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-webeditor {
	background-color: #EFEFEF;
	background-image: url("image/item_image.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-image {
	background-color: #EFEFEF;
	background-image: url("image/item_image.png");
	background-position: 132px -3px;
	background-repeat: no-repeat;
	padding-left: 10px;
	border: 1px solid #808080;
	margin: 1px;
	height: 26px;
	cursor: move;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: left;
}
.input-none {
	margin: 1px;
	height: 26px;
	background-color: #FFFFFF;
	cursor: default;
	color: #000000;
	line-height: 26px;
	overflow: hidden;
	text-align: center;
}
.drag-field-detail-table {
	width: 550px;
	table-layout: fixed;
	background-color: #FFFFFF;
}
.drag-field-detail-table  th{
	width: 30%;
    white-space: nowrap ;
    word-break : break-all;
    word-wrap : break-word ;
}
.drag-field-detail-table th.standard-rowspan-th {
	width: 15%;
}
.drag-field-detail-table th.standard-th {
	width: 15%;
}
.field-detail-table {
	width: 100%;
	table-layout: fixed;
	background-color: #FFFFFF;
	cursor: move;
}
.field-detail-table th{
	width: 30%;
    /* padding: 4px; */
    /*white-space: nowrap ;*/
    word-break : break-all;
    word-wrap : break-word ;
    overflow: hidden;
    text-align: left;
}
.field-detail-table th.standard-rowspan-th {
	width: 15%;
}
.field-detail-table th.standard-th {
	width: 15%;
}
#optionBox {
	display: none;
	position: absolute;
	z-index: 1;
}

#itemContentMenu {
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	border: 1px solid #999999;
	background-color: #F2F2F2;
	width: 31px;
	background-image: url(image/arrow-pulldown.png);
	background-repeat: no-repeat;
	background-position: 26px center;
	border-radius: 2px;
	display: block;
	cursor: pointer;
}

#itemContentMenu.over{
	background-color: #FFFFFF;
}
.moved-over {
	cursor: move;
}
.item-contextmenu {
	display: none;
	width: 150px;
	list-style-type: none;
	position: absolute;
	background: #ffffff;
	border: 1px solid #999999;
	padding: 0px;
	border-radius: 3px;
	top: 10px;
	right: -55px;
	-webkit-box-shadow: 1px 1px 2px #999999;
	box-shadow: 1px 1px 2px #999999;
}
.item-contextmenu:after, .item-contextmenu:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.item-contextmenu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}
.item-contextmenu:before {
	border-color: rgba(153, 153, 153, 0);
	border-bottom-color: #999999;
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
}
.item-contextmenu ul {
	margin: 0px;
	padding-bottom: 2px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 2px;
}
.item-contextmenu li {
	cursor: pointer;
	line-height: 20px;
	min-height: 20px;
	position: relative;
	padding: 2px;
}
.item-contextmenu li a {
	padding-top: 2px;
	padding-left: 20px;
	padding-bottom: 2px;
	padding-right: 20px;
	display: block;
	text-decoration: none;
	color: #333333;
}
.item-contextmenu li a.checked {
	background-image: url(image/checkmark.png);
	background-repeat: no-repeat;
	background-position: 2px center;
}
.item-contextmenu li.separate {
	border-bottom: 1px solid #BBBBBB;
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.item-contextmenu li a.normal:hover {
	background-color: #68A0CB;
	color: #FFFFFF;
}

.item-contextmenu li a.disabled span {
	cursor: default;
	color: grey;
}

.margin-t8 {
	margin-top: 8px;
}