<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
$(function(){
	<#if stockInfo?? && stockInfo!="">
		var stockInfo = "${stockInfo}";
		console.log(stockInfo);
		var stockInfoArr = stockInfo.split("${_TAB}");
		var stockStatus1 = stockInfoArr[0];
		var stockStatusValue2 = stockInfoArr[1].split("_")[0];
		if(isNaN(stockStatusValue2)){
			stockStatusValue2 = '';
    	}
		var stockStatus2 = stockInfoArr[1].split("_")[1];
		$("input[name=stockStatusValue]").eq(0).val(stockStatusValue2);
		$("textarea[name=stockStatus]").eq(0).val(stockStatus1);
		$("textarea[name=stockStatus]").eq(1).val(stockStatus2);
		
		if(stockInfoArr.length >=3){
			$("input[name=stockStatusValue]").eq(0).change()
			var stockNumRangeFinishRow3 = stockInfoArr[2].split("_")[0];
			if(isNaN(stockNumRangeFinishRow3)){
				stockNumRangeFinishRow3 = '';
	    	}
			var stockStatus3 = stockInfoArr[2].split("_")[1];
			$("input[name=stockStatusValue]").eq(1).val(stockNumRangeFinishRow3)
			$("textarea[name=stockStatus]").eq(2).val(stockStatus3);
			
		}
		if(stockInfoArr.length == 4){
			var stockStatus4 = stockInfoArr[3];
			$("input[name=stockStatusValue]").eq(1).change();
	    	$("textarea[name=stockStatus]").eq(3).val(stockStatus4);		
		}							
		saveStockShow();
	<#else>	
		$("#stock-show-set").append("<br><div><m>設定されていません</m></div>");
	</#if>
	
	if ($("#stockShowType1").prop("checked")) {
		$('.radio-sub-area').hide();
	}
	else if ($("#stockShowType2").prop("checked")) {
		$('.radio-sub-area').show();	
	}

	$("#stockShowType1").click(function() {
		$('.radio-sub-area').slideUp();
	});

	$("#stockShowType2").click(function() {
		$('.radio-sub-area').slideDown();
	});
	resize("stock-show-cnf");
});


function openModalStockShowConf(){
    $('#modal-stock-show-link').YSModalDialog({dialogTitle: "<m>在庫状況を登録します(仮)</m>",width: '650px'});
    $('#modal-stock-show-link').click();

    // new popup data
   var stockNumRangeArr = new Array();   
   $(".stock-num").each(function(){
	   stockNumRangeArr.push($(this).text())
   });
   
   var stockStatus = new Array();
    $(".view-coment-status .txt-mark").each(function(){
    	stockStatus.push($(this).html());
    });

    //clear   
   $(".jz-table__row:gt(2)").each(function(){
	   $(this).remove();
	   $(".stock-status-disp-area__icon").remove()
   })
   

   if(stockNumRangeArr.length == 0){
	   $("input[name=stockStatusValue]").eq(0).val("")
   		$("textarea[name=stockStatus]").eq(0).val("");
   		$("textarea[name=stockStatus]").eq(1).val("");
   }
   
    //add data
    if(stockNumRangeArr.length >=2){
    	var stockNumRangeRow2 = stockNumRangeArr[1]
    	var stockNumRangeFinishRow2 = stockNumRangeRow2.split("～")[1]; 	 
    	if(isNaN(stockNumRangeFinishRow2)){
    		stockNumRangeFinishRow2 = '';
    	}
    	$("input[name=stockStatusValue]").eq(0).val(stockNumRangeFinishRow2)
    	$("textarea[name=stockStatus]").eq(0).val(stockStatus[0]);
    	$("textarea[name=stockStatus]").eq(1).val(stockStatus[1]);
    }

    if(stockNumRangeArr.length >=3){
    	$("input[name=stockStatusValue]").eq(0).change()
    	var stockNumRangeRow3 = stockNumRangeArr[2]
    	var stockNumRangeFinishRow3 = stockNumRangeRow3.split("～")[1];
    	if(isNaN(stockNumRangeFinishRow3)){
    		stockNumRangeFinishRow3 = '';
    	}   	
    	$("input[name=stockStatusValue]").eq(1).val(stockNumRangeFinishRow3)
    	$("textarea[name=stockStatus]").eq(2).val(stockStatus[2]);
    }	
    
    if(stockNumRangeArr.length ==4){  	
    	$("input[name=stockStatusValue]").eq(1).change()
    	$("textarea[name=stockStatus]").eq(3).val(stockStatus[3]);
    }
    
    //auto-resize
    $("input[name=stockStatusValue]").each(function(){
    	$(this).removeClass("auto-resize-actived");
    	$(this).addClass("auto-resize");
    	$(this).autoresize();
    });
    
    $("textarea[name=stockStatus]").each(function(){
    	$(this).removeClass("auto-resize-actived");
    	$(this).addClass("auto-resize");
    	$(this).autoresize();
    });
     
}

function saveStockValValidate(){
	
	//stockStatus validate
	$(".stockStatusDiv").each(function(){
		if($(this).find("textarea[name='stockStatus']").val().length>45){
			$(this).validationEngine("showPrompt", cautionMsg('C_12006_002',['<m>全角45</m>']), "red", "topRight", true);
		}	
	})	
}


function saveStockShow(){
	var trCollect = $("#stock-show-cnf .jz-table__row");
	var currentRowNum = $(".jz-table__row").length ;
	validateInputStockValue(currentRowNum,trCollect);
	saveStockValValidate();
	if($("#stock-show-cnf").find(".undefinedformError").length > 0){
		$("#stock-sure-btn").removeClass("ysdialog-close");
		return ;
	}else{
		$("#stock-sure-btn").addClass("ysdialog-close");
	}
		
	var html = $('<div class="txt-link" onclick="openModalStockShowConf();">');
	$('#stock-show-set *').remove();
	$('#stock-show-cnf .jz-table__row:not(:.header)').each(function(index){
		var data = $('<div class="view-coment-status">');
		var div1 = $('<div>');
		var span = $('<span class="stock-num">')
		var div2 = $('<div class="txt-mark">');
		var div3 = $('<div>');
			
		var appendValue = $(this).find('.jz-table__cell').clone();
		appendValue.find(".bottom-flag").remove();
		$(span).append(appendValue.text().trim());
		
		if($(this).find('input[name="stockStatusValue"]').length>0){
			if($(this).find('input[name="stockStatusValue"]').val().trim() == ''){
				$(span).append($(this).find('input[name="stockStatusValue"]').attr("placeholder"));
			}else{	
				$(span).append($(this).find('input[name="stockStatusValue"]').val());
			}				
		}else{
			if($(this).find('.jz-table__cell .bottom-flag').length>0){
				$(span).append($(this).find('.bottom-flag').text().trim());
			}
		}
		$(div1).append($(span));
		
		if(index != ($('#stock-show-cnf .jz-table__row:not(:.header)').size()-1)){
			$(div1).append("<span><m>個で</m></span>")
		}
			
		var stockStatusValue = $(this).find('textarea[name="stockStatus"]').val();
		if(stockStatusValue ==''){
			stockStatusValue = $(this).find('textarea[name="stockStatus"]').attr("placeholder");
		}
		$(div2).append(stockStatusValue);
				
		$(div3).append("<span><m>を表示</m></span>")
		$(data).append(div1).append(div2).append(div3);
		$(html).append($(data));
	});
	
	$('#stock-show-set').append(html);
}

function deleteRow(row) {
	var currentRowNum = $(row).parents(".jz-table__row").prevAll().length;	
	var trCollect = $("#stock-show-cnf .jz-table__row");
	
	var deleteStart = trCollect.eq(currentRowNum).find(".l-align-r span").eq(0).html();
	trCollect.eq(currentRowNum + 1).find(".l-align-r span").eq(0).html(deleteStart);
	trCollect.eq(currentRowNum).remove();
	
	trCollect = $("#stock-show-cnf .jz-table__row");
	if (trCollect.length == 3) {
		// When deleting row is second row,remove delete icon
		trCollect.eq(2).find(".stock-status-disp-area__icon").remove();		
		trCollect.eq(2).find("textarea[name=stockStatus]").attr("placeholder","<m>在庫あり</m>");
	}
	// when it has 4 row,but delete not the fourth
	if (trCollect.length == 4) {
		trCollect.eq(2).find("textarea[name=stockStatus]").attr("placeholder","<m>在庫わずか</m>");
		trCollect.eq(3).find("textarea[name=stockStatus]").attr("placeholder","<m>在庫あり</m>");
		if($(".bottom-flag")){
			var trCollect = $("#stock-show-cnf .jz-table__row");
			var lastRow = trCollect.last().find(".bottom-flag"); 
			var input='<input name="stockStatusValue"  onchange="addRow(this)" placeholder="<m>それ以上</m>"' + 
			'class="auto-resize number validate[custom[onlyNumberSp], maxSize[10], funcCall[groupRequiredStockStatusValue3], funcCall[smallerThanStockStatus]]" type="text" autocomplete="off" maxlength="6">';
			lastRow.replaceWith(input);			
		}	
	}
}


function validateInputStockValue(currentRowNum,trCollect){
	var stockStatusValueArr = new Array();	
	$("input[name=stockStatusValue]").each(function(){
		stockStatusValueArr.push($(this).val());
	});
	var stockStatusValueRow2 = parseInt(stockStatusValueArr[0]);
	if (currentRowNum >= 3) {
		if(stockStatusValueRow2 < 1 || isNaN(stockStatusValueRow2)){
			if(currentRowNum == 3 && stockStatusValueArr[0] == ''){	
		
			}else{
				trCollect.eq(2).find(".l-align-r").validationEngine("showPrompt", cautionMsg('C_10000_005',['<m>在庫数</m>']), "red", "topRight", true);
				return false;
			}
		}
		trCollect.eq(2).find(".undefinedformError").remove();
	}
	if(currentRowNum >= 4){
		var stockStatusValueRow3 = parseInt(stockStatusValueArr[1]);		
		if( stockStatusValueRow3 <= stockStatusValueRow2 || isNaN(stockStatusValueRow3)){
			if(currentRowNum == 4 && stockStatusValueArr[1] == ''){	
				
			}else{
				trCollect.eq(3).find(".l-align-r").validationEngine("showPrompt", cautionMsg('C_10000_005',['<m>在庫数</m>']), "red", "topRight", true);
				return false;
			}
		}
		trCollect.eq(3).find(".undefinedformError").remove();
	}
	return true;
}


function addRow(row) {
	var trCollect = $("#stock-show-cnf .jz-table__row");
	var currentRowNum = $(row).parents(".jz-table__row").prevAll().length + 1;
		
	var inputStockValueFlag = validateInputStockValue(currentRowNum,trCollect);
	var operateFinalRowFlag = currentRowNum == trCollect.length;	
		
	if(!inputStockValueFlag || $(row).val() == ''){
		return;
	}
	if( !operateFinalRowFlag){
		var currentRowValue = $(row).parents(".jz-table__row").find("input[name=stockStatusValue]").val();
		var startVal = parseInt(currentRowValue) + 1;	
		$(row).parents(".jz-table__row").next().find(".l-align-r span:not('.bottom-flag')").html(startVal);
		return;
	}
	
	//edit new row 		
	var cpObj = trCollect.eq(2).clone(); 
	var startVal = parseInt($(row).val()) + 1;
	
	cpObj.find(".l-align-r span").html(startVal);
	cpObj.find("input[name=stockStatusValue]").attr("value","");
	cpObj.find("input[name=stockStatusValue]").attr("placeholder","<m>それ以上</m>");
	cpObj.find("textarea[name=stockStatus]").attr("value","");

	cpObj.find("input[name=stockStatusValue]").removeClass("auto-resize-actived");
	cpObj.find("input[name=stockStatusValue]").addClass("auto-resize");
	cpObj.find("textarea[name=stockStatus]").removeClass("auto-resize-actived");
	cpObj.find("textarea[name=stockStatus]").addClass("auto-resize");
			
	if (currentRowNum == 3) {		
		trCollect.eq(2).find("textarea[name=stockStatus]").attr("placeholder","<m>在庫わずか</m>");
		cpObj.find("textarea[name=stockStatus]").attr("placeholder","<m>在庫あり</m>");	
	}	
	if (currentRowNum == 4) {
		cpObj.find("input[name=stockStatusValue]").remove();
		cpObj.find(".l-align-r").append("<span class='bottom-flag'><m>それ以上</m></span>");
		trCollect.eq(2).find("textarea[name=stockStatus]").attr("placeholder","<m>在庫わずか</m>");
		trCollect.eq(3).find("textarea[name=stockStatus]").attr("placeholder","<m>在庫わずか</m>");
		cpObj.find("textarea[name=stockStatus]").attr("placeholder","<m>在庫あり</m>");		
	}
	
	//add new row
	trCollect.last().after(cpObj);
	trCollect = $("#stock-show-cnf .jz-table__row");
	//add delete icon
	var aL = '<a class="stock-status-disp-area__icon" href="javascript:void(0);" onclick="deleteRow(this);" id="firstHref"><i class="icon-stop"></i></a>';
	trCollect.each(function(){	
		if ($(this).find(".stock-status-disp-area__icon").length == 0) {
			$(this).find(".stock-status-disp-area").append(aL);
		}
	})
	$(".stock-status-disp-area__icon").last().remove(); 
	
	cpObj.find("input[name=stockStatusValue]").autoresize();
	cpObj.find("textarea[name=stockStatus]").autoresize();

}


</script>