<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">

    <#include "ysValidationCommonJS">
    var setupDisablePromptFlag='NO';
    var currentId;
    var flag;
    $(function() {
        if ($("#stockAlarmMailFlag").is(":checked") == false) {
            $("#stockMinQuantity").attr("disabled",true);
        }
        if ($("#paymentMethod").has("div").length > 0){
            $("#payment-method-select-no").hide();
        }
        else {
            $("#payment-method-select-no").show();
        }

        if ($("#add-delivery-method").has("div").length > 0){
            $("#add-delivery-method-select-no").hide();
        }
        else {
            $("#add-delivery-method-select-no").show();
        }

        var initPaymentMethods = "";
        $("#paymentMethod").children("div").each(function() {
            initPaymentMethods += $(this).attr("id") + "_";
            $("#initPaymentMethods").val(initPaymentMethods);
        });

        var deliveryMethodIdCheck = "";
        $("#add-delivery-method").children("div").each(function() {
            deliveryMethodIdCheck += $(this).attr("id") + "_";
        });
        $("#deliveryMethodIdCheck").val(deliveryMethodIdCheck.substring(0, deliveryMethodIdCheck.length - 1));

        $("#shopsetup-form").validationEngine();
        $("#product-display-item-form").validationEngine();
        $("#addTimeSlotForm").validationEngine();

        if($("#orderConfirmMailCheckFlag").prop("checked")) {
            $("#orderConfirmMail").show();
            var orderConfirmMailCheckCopyFlag = $("#orderConfirmMailCheckCopy").val();
            if(orderConfirmMailCheckCopyFlag == "${_SHOP_SETUP_ORDER_CONFIRM_MAIL_CHECK_COPY_FLAG_YES}") {
                $("#orderConfirmMailCheckCopyFlag").attr("checked","checked");
            }

            if ($('#orderConfirmMailCheckCopyFlag').prop('checked')) {
                $("#orderConfirmMailCheckCopyMailPopup").removeClass("is-disabled");
            }else{
                $("#orderConfirmMailCheckCopyMailPopup").addClass("is-disabled");
            }
        }
        else {
            $("#orderConfirmMail").hide();
        }

        $('#availableOrderNum').attr('guidance', cautionMsg("C_10000_005",["<m>１回に注文できる数量</m>"]));

    <#if commonSetupConfirmFlag?? && commonSetupConfirmFlag == '${_YES}'>
        setupDisablePromptFlag = '${_YES}';
    </#if>

        $('#add-payment-method').mouseenter(function() {
            buttonMouseenterOrFocusErrorInfo('paymentMethod');
        }).focus(function() {
            buttonMouseenterOrFocusErrorInfo('paymentMethod');
        });
    });

    $("#stockAlarmMailFlag").click(function(){
        if ($(this).is(":checked") == false) {
            $(this).attr("checked",false);
            $("#stockMinQuantity").attr("disabled",true);
        } else {
            $(this).attr("checked",true);
            $("#stockMinQuantity").attr("disabled",false);
        }
    })

    $("#stockAlarmMailFlag").click(function(){
        if ($(this).is(":checked") == false) {
            $(this).attr("checked",false);
            $("#stockMinQuantity").attr("disabled",true);
        } else {
            $(this).attr("checked",true);
            $("#stockMinQuantity").attr("disabled",false);
        }
    })

    function saveSetting() {
        var result = false;
        var min = $("#minOrderCount").val();
        var max = $("#maxOrderCount").val();
        var minlot = $("#minLotCount").val();
        var avail = $("#availableOrderNum").val();
        if ((min != "" || max != "" || avail != "") && (minlot != "")) {

            if (min != "") {
                var vlaue = min % minlot;
                if (vlaue != 0) {
                    jzMsgBox(cautionMsg("C_45001_005",["<m>注文可能数の最小値</m>"]), 'alert');
                    return false;
                }
            }
            if (max != "") {
                var vlaue = max % minlot;
                if (vlaue != 0) {
                    jzMsgBox(cautionMsg("C_45001_005",["<m>注文可能数の最大値</m>"]), 'alert');
                    return false;
                }
            }
            if (avail != "") {
                for (var i = 0; i < avail.split(",").length; i++) {
                    var availone = avail.split(",")[i];
                    var vlaue = availone % minlot;
                    if (vlaue != 0) {
                        jzMsgBox(cautionMsg("C_45001_005",["<m>選択可能注文数</m>"]), 'alert');
                        return false;
                    }
                }
            }

        }

        return true;
    }

    function saveDeliveryTimeSlot() {
        if (eval($("#delivery-start-time").val()) < eval($("#delivery-end-time").val())) {
            var oldTimeSlotListHtml = $('#ysIframe').contents().find('#time-slot-list').html(),
                timeSlotId = $("#delivery-start-time").val() + "_" + $("#delivery-end-time").val(),
                timeSlot = $("#delivery-start-time").val() + ":00" + "-" + $("#delivery-end-time").val() + ":00",
                newTimeSlotListHtml = '<div id="' + timeSlotId + '"><a href="javascript:void(0)" onclick="showTimeSlot(\'' + timeSlotId + '\')">' + timeSlot + '</a><a href="javascript:void(0)" onclick="deleteTimeSlot(\'' + timeSlotId + '\')"><i class="fa fa-times"></i></a></div>',
                sameTimeSlotFlag = false;

            if (oldTimeSlotListHtml.length > 0) {
                var insertResult = false;
                $('#ysIframe').contents().find('#time-slot-list div').each(function() {
                    var oldId = $(this).attr('id'),
                        oldIdArr = oldId.split('_');
                    if ((oldId+'') == (timeSlotId+'')) {
                        insertResult = true;
                        sameTimeSlotFlag = true;
                        $("#delivery-end-time").validationEngine("showPrompt",  cautionMsg("C_49001_000"), "red", "topRight", true);
                        return false;
                    }
                    else if (parseInt(oldIdArr[0]) == parseInt($("#delivery-start-time").val())
                        && parseInt(oldIdArr[1]) > parseInt($("#delivery-end-time").val())) {
                        $(this).before(newTimeSlotListHtml);
                        insertResult = true;
                        if(flag == "edit") {
                            $('#ysIframe').contents().find('#' + currentId).remove();
                        }
                        return false;
                    }
                    else if (parseInt(oldIdArr[0]) > parseInt($("#delivery-start-time").val())) {
                        $(this).before(newTimeSlotListHtml);
                        insertResult = true;
                        if(flag == "edit") {
                            $('#ysIframe').contents().find('#' + currentId).remove();
                        }
                        return false;
                    }
                });
                if (!insertResult) {
                    if(flag == "add") {
                        $('#ysIframe').contents().find('#time-slot-list').append(newTimeSlotListHtml);
                    }
                    else if(flag == "edit") {
                        $('#ysIframe').contents().find('#time-slot-list').append(newTimeSlotListHtml);
                        $('#ysIframe').contents().find('#' + currentId).remove();
                    }
                }
            }
            else {
                $('#ysIframe').contents().find('#time-slot-list').html(newTimeSlotListHtml);
            }

            if (!sameTimeSlotFlag) {
                $('#YSDialogtimeSlot').dialog('close');
            }

            $('#ysIframe').contents().find('.add-time-slotformError').remove();
        }
        else {
            $("#delivery-end-time").validationEngine("showPrompt", cautionMsg("C_13000_001",[$("#delivery-start-time").val() + "<m>:00</m>"]), "red", "topRight", true);
        }
    }


    function popupOrderConfirmMailMember() {
        $("#click-mail-member-flag").val("orderConfirmMailMember");
        var nodeId = "pr0-vr0";
        var orderConfirmMailCheckCopy = $("#orderConfirmMailCopyUsersId").val();

        if (orderConfirmMailCheckCopy == "" || orderConfirmMailCheckCopy == null) {
            orderConfirmMailCheckCopy = -1
        }
        $('#popup-mail-member-link').attr('href', "<@spring.url '${_domain}/admin/shop/shop-setup/edit-member/MAGA_USE/1'/>/" + nodeId + "/" + orderConfirmMailCheckCopy);
        $('#popup-mail-member-link').YSModalDialog({iframe: true, dialogTitle: "<m>対象</m>", dialogId: "OrderUserMembersShow"});
        $('#popup-mail-member-link').click();
    }

    function popupMailMember() {
        $("#click-mail-member-flag").val("mailMember");
        var nodeId = "pr0-vr0";
        var memberUsersId = $("#memberUsersId").val();
        if (memberUsersId == "" || memberUsersId == null) {
            memberUsersId = -1
        }
        $('#popup-mail-member-link').attr('href', "<@spring.url '${_domain}/admin/shop/shop-setup/edit-member/MAGA_USE/1'/>/" + nodeId + "/" + memberUsersId);
//		$('#popup-mail-member-link').attr('href', "<@spring.url '${_domain}/admin/shop/product-management/edit-member/MAGA_USE/1'/>/" + nodeId);
        $('#popup-mail-member-link').YSModalDialog({iframe: true, dialogTitle: "<m>対象</m>", dialogId: "UserMembersShow"});
        $('#popup-mail-member-link').click();
    }




$(function() { 	
	$('#minOrderAmount').val(Number($('#minOrderAmount').val()));
	$('#maxOrderAmount').val(Number($('#maxOrderAmount').val()));
});

function clickDeliveryMethod(id) {
	if($("#" + id).prop("checked")) {
		$("#" + id).attr("checked", "checked");
	}
	else {
		$("#" + id).removeAttr("checked");
	}
}

$('input[name="minOrderAmountLimitFlag"]').click(function() {
	if ($('#minOrderAmountLimitFlagNO').prop("checked")) {
		$("#minOrderAmount").attr("disabled", "disabled");
		$('#minOrderAmount').validationEngine('hide');
		
	}
	else {
		$("#minOrderAmount").removeAttr("disabled");
	}
});

$('input[name="maxOrderAmountLimitFlag"]').click(function() {
	if ($('#maxOrderAmountLimitFlagNO').prop("checked")) {
		$("#maxOrderAmount").attr("disabled", "disabled");
		$('#maxOrderAmount').validationEngine('hide');
	}
	else {
		$("#maxOrderAmount").removeAttr("disabled");
	}
});

$('input[name="minOrderCountLimit"]').click(function() {
	if ($('#minOrderCountLimitON').prop('checked')) {
		$('#minOrderCount').attr('disabled', 'disabled');
		$('#minOrderCount').validationEngine('hide');
	}
	else {
		$('#minOrderCount').removeAttr('disabled');
	}
});

$('input[name="maxOrderCountLimit"]').click(function() {
	if ($('#maxOrderCountLimitON').prop('checked')) {
		$('#maxOrderCount').attr('disabled', 'disabled');
		$('#maxOrderCount').validationEngine('hide');
	}
	else {
		$('#maxOrderCount').removeAttr('disabled');
	}
});

$("#add-delivery-method-div").click(function() {
	var deliveryMethodIdCheck = $("#deliveryMethodIdCheck").val();
	var ahref = $("#delivery-method-link").attr("href");
	if (deliveryMethodIdCheck == "") {
		deliveryMethodIdCheck = "0";
	}
	$("#delivery-method-link").attr("href",ahref + "/" + deliveryMethodIdCheck);
	$("#delivery-method-link").YSModalDialog({iframe: true, dialogId: 'SetupDeliveryMethod',dialogTitle: "<m>商品の配送方法を選択します</m>"});
	$("#delivery-method-link").click();
	$("#delivery-method-link").attr("href",ahref);
});

$("#agreementCheckFlagYES").click(function() {
	commonSetup('agreementSetup');
});

$("#orderConfirmMailCheckFlag").click(function() {
	if($(this).attr("checked") == "checked") {
		$("#orderConfirmMail").show();
		if($("#orderConfirmMailCheckCopyFlag").attr("checked") == "checked"){		
			$("#orderConfirmMailCheckCopyMailPopup").removeClass("is-disabled");
		}else{
			$("#orderConfirmMailCheckCopyMailPopup").addClass("is-disabled");
		}	
	}
	else {
		$("#orderConfirmMail").hide();
	}
});

$("#orderConfirmMailCheckCopyFlag").click(function() {
	if($(this).attr("checked") == "checked") {
		$("#orderConfirmMailCheckCopyMailPopup").removeClass("is-disabled");
	}
	else {
		$("#orderConfirmMailCheckCopyMailPopup").addClass("is-disabled");
	}
});
	
function popupPaymentMenu(type){
	if('payPalShow' == type){
		$.post("<@spring.url '${_domain}/admin/cashier/etc/payment-setup/get-payment-setup-paypal'/>", function(paymentMenuArray) {
			if (paymentMenuArray != null) {
			    var showPaymentPaypal = paymentMenuArray[0].showPaymentPaypal;
				var serviceConfPaymentPaypal = paymentMenuArray[0].serviceConfPaymentPaypal;
				var isOwnerTenantFlag = paymentMenuArray[0].isOwnerTenantFlag;
				var ownerMail = paymentMenuArray[0].ownerMail;
				var membershipChangeFlag = paymentMenuArray[0].membershipChangeFlag;
				var jimzenServiceMembershipName = paymentMenuArray[0].jimzenServiceMembershipName;
			
				if (serviceConfPaymentPaypal == ${_SERVICE_CONF_PAYMENT_PAYPAL_NO}) {
					$("#payPalShow").removeAttr("checked");
					$("#show-text-div").html("<p>" + jimzenServiceMembershipName + "<m>ではPayPalを利用できません。</m></p>");
					$("#serviceConfPaymentType").val('${_SERVICE_CONF_PAYPAL}');
					if (membershipChangeFlag == '${_NO}') {
						$('#tip-information').show();
						$('#show_membership_change_btn').remove();
					}
					if (isOwnerTenantFlag == '${_NO}') {
						$('#tenant-owner-mail').text(ownerMail);
						$('#change-membership-no').show();
						$('#show_membership_change_btn').remove();
					}
					$('#popup-service-conf-admin').YSDialog({dialogTitle: "<m>Jimzen利用プラン制限</m>"});
					$("#popup-service-conf-admin").click();	
				}
				else {
					if(showPaymentPaypal == ${_SHOW_PAYMENT_PAYPAL_NO}){
						$("#payPalShow").removeAttr("checked");
						$('#popup-payment-menu').YSDialog({dialogTitle: "<m>決済方法の設定</m>"});
						$("#popup-payment-menu").click();	
					}
				}
			}
		}, "json"); 
	}
	else{
		$.post("<@spring.url '${_domain}/admin/cashier/etc/payment-setup/get-payment-setup-creditCard'/>", function(paymentMenuArray) {
			if (paymentMenuArray != null) {
				var showPaymentCredit = paymentMenuArray[0].showPaymentCredit;
				var serviceConfPaymentCredit = paymentMenuArray[0].serviceConfPaymentCredit;
				var isOwnerTenantFlag = paymentMenuArray[0].isOwnerTenantFlag;
				var ownerMail = paymentMenuArray[0].ownerMail;
				var membershipChangeFlag = paymentMenuArray[0].membershipChangeFlag;
				var jimzenServiceMembershipName = paymentMenuArray[0].jimzenServiceMembershipName;
				if (serviceConfPaymentCredit == ${_SERVICE_CONF_PAYMENT_CREDIT_NO}) {
					$("#creditCardShow").removeAttr("checked");
					$("#show-text-div").html("<p>" + jimzenServiceMembershipName + "<m>ではクレジットカードを利用できません。</m></p>");
					$("#serviceConfPaymentType").val('${_SERVICE_CONF_CREDIT}');
					if (membershipChangeFlag == '${_NO}') {
						$('#tip-information').show();
						$('#show_membership_change_btn').remove();
					}
					if (isOwnerTenantFlag == '${_NO}') {
						$('#tenant-owner-mail').text(ownerMail);
						$('#change-membership-no').show();
						$('#show_membership_change_btn').remove();
					}
					$('#popup-service-conf-admin').YSDialog({dialogTitle: "<m>Jimzen利用プラン制限</m>"});
					$("#popup-service-conf-admin").click();	
				}
				else {
					if(showPaymentCredit == ${_SHOW_PAYMENT_PAYPAL_NO}){
						$("#creditCardShow").removeAttr("checked");
						$('#popup-creditCard-menu').YSDialog({dialogTitle: "<m>決済方法の設定</m>"});
						$("#popup-creditCard-menu").click();	
					}
				}
			}
		}, "json"); 
	 } 
	
}

function paymentMenuClick(type){
	var paymentMethodId = '';
	if('payPal' == type){
		paymentMethodId = 'pay-pal-id';
	}
	else{
		paymentMethodId = 'credit-card-id';
	}
	var payType = 'payType';
	var ahref = $('#popup-payment-menu-page-link').attr("href");
	$('#popup-payment-menu-page-link').attr("href",ahref + "/" + payType + "/" + paymentMethodId);
	$('#popup-payment-menu-page-link').YSDialog({iframe: true, dialogTitle: "<m>決済方法</m>", afterClose: "paymentMenuAfterClose"});
	$('#popup-payment-menu-page-link').click();
	$('#popup-payment-menu-page-link').attr("href",ahref);
}

function saveShopSetup(){
	var seting = saveSetting();
	if (seting == false) {
		return false;
	}
	
	var saveActionFlag = true;
	var validFlag = true;
	var choicePaymentMethodFlag = false;
	
	$('#paymentMethod').find('div').each(function() {
		choicePaymentMethodFlag = true;
		$('#paymentMethod').validationEngine('hide');
	});
 	if (!choicePaymentMethodFlag) {
		  $("#paymentMethod").validationEngine("showPrompt", cautionMsg("C_11002_000"), "red", "topRight", true);
		  validFlag = false;
	} 
 	var offlinePaymentMethod = "";
	$("#paymentMethod").children("div").each(function() {
		if ($(this).attr("name") == "offlinePaymentMethod") {
			offlinePaymentMethod += $(this).attr("id") + "${_SHARP}";
		}
	});
	$("#offlinePaymentMethod").val(offlinePaymentMethod.substring(0, offlinePaymentMethod.length - 1));

	var deliveryMethodIdCheck = "";
	$("#add-delivery-method").children("div").each(function() {	
		deliveryMethodIdCheck += $(this).attr("id") + "_";		
	});
	if (deliveryMethodIdCheck != "") {
		$("#deliveryMethodIdCheck").val(deliveryMethodIdCheck.substring(0, deliveryMethodIdCheck.length - 1));		
	}
	
	if($("#orderConfirmMailCheckFlag").attr("checked") == "checked" && $("#orderConfirmMailCheckCopyFlag").attr("checked") == "checked") {
		if (!$("#orderConfirmMailCopyUsersId").val()) {
			$("#orderConfirmMailCheckCopyMailPopup").validationEngine("showPrompt", cautionMsg("C_11002_000"), "red", "topRight", true);
			validFlag = false;
		}
	}
	if($("#orderConfirmMailCheckCopyFlag").attr("checked") == "checked"){
		$("#orderConfirmMailCheckCopy").val("${_SHOP_SETUP_ORDER_CONFIRM_MAIL_CHECK_COPY_FLAG_YES}")
	}else{
		$("#orderConfirmMailCheckCopy").val("${_SHOP_SETUP_ORDER_CONFIRM_MAIL_CHECK_COPY_FLAG_NO}")
	}
		
	if ($("#stockShowType2").attr("checked") == "checked") {
		
		var stockInfo = "";	
		if($(".view-coment-status").length>0){
			var txtMarkArr = new Array();
			$(".view-coment-status .txt-mark").each(function(){
				txtMarkArr.push($(this).text());
			})
			
			var stockStatusValue2 = $(".stock-num").eq(1).text().trim().split("～")[1];	
			stockInfo = txtMarkArr[0] + "${_TAB}" + stockStatusValue2 + "_" + txtMarkArr[1] + "${_TAB}";		
			$(".stock-num").each(function(index){
				if(index == 2){
					var stockStatusValue3 = $(".stock-num").eq(2).text().trim().split("～")[1];
					stockInfo += stockStatusValue3 + "_" + txtMarkArr[2] + "${_TAB}";
				}
				else if(index ==3){
					stockInfo += txtMarkArr[3];
				}		
			})
			
		}
		$("#stockInfo").val(stockInfo);
	}
	
	var minOrderAmount = $('#minOrderAmount').val();
	var maxOrderAmount = $('#maxOrderAmount').val();
    if (validFlag && $("#shopsetup-form").validationEngine('validate')) {
    	
    	$.post("<@spring.url '${_domain}/admin/shop/shop-setup/update-shop-setup-info'/>",$("#shopsetup-form").serialize(),
			function(data) {
				if (data.result == '${_STATUS_SUCCESS}') {
					jzMsgBox(successMsg("I_0000_003"));
				}
				else if (data.result == '${_STATUS_ERROR}') {
					jzMsgBox(errorMsg("E_1012_001"), 'alert');
				}
			}, "json");
    }
    saveActionFlag = false;
}

	

function payMethodSetCancle(){
	$('#payMethodSetupPopupFlag').removeAttr("checked");
}

function agreementSetupCancle(){
	$('#agreementSetupPopupFlag').removeAttr("checked");
}

function deleteDeliveryMethod(id, name, htmlEscapeFlag) {
	$("#deleteDeliveryMethodId").val(id);
	if (htmlEscapeFlag) {
		$('#deliveryMethodName').html(name);
	}
	else {
		$('#deliveryMethodName').text(name);	
	}
	$('#delete-delivery-method-link').YSDialog({dialogTitle: "<m>配送方法の削除</m>"});
	$('#delete-delivery-method-link').click();
}

function deliveryMethodDelete() {
	var id = $("#deleteDeliveryMethodId").val();
	$('#YSDialog').dialog('close');
	$('#' + id).remove();
	ifPlaceholderShow();
	var deliveryMethodIdCheck = "";
	$("#add-delivery-method").children("span").each(function() {	
		deliveryMethodIdCheck += $(this).attr("id") + "_";
	});
	$("#deliveryMethodIdCheck").val(deliveryMethodIdCheck.substring(0, deliveryMethodIdCheck.length - 1));
}

function editShopDeliveryMethod(id) {
	var ahref = $("#delivery-method-link").attr("href");
	$('#delivery-method-link').attr("href", ahref + "?deliveryMethodId=" + id);
	$('#delivery-method-link').YSDialog({iframe: true, dialogTitle: "<m>配送方法の編集</m>"});
	$('#delivery-method-link').click();
	$('#delivery-method-link').attr("href", ahref);
}

var commonType,
	noticeMailClickType;
	
function commonSetup(type, mailType) {
	commonType = type;
	noticeMailClickType = mailType;
	if (localStorage.setScreenRepresentation == '${_YES}') {
		commonSetupClick(commonType,noticeMailClickType);
	}
	else {
		$('#common-setup-link').YSModalDialog({dialogTitle: "<m>設定画面の表示</m>",afterClose:"commonSetUpCancle",width: "540px"});
		$("#common-setup-link").click();
	}
}

$("#ok-common-btn").click(function (){
	commonSetupClick(commonType, noticeMailClickType);
});

function commonSetupClick(type,mailType) {

	if (type == "deliveryMethod") {
		var href = "<@spring.url '${_domain}/admin/shop/delivery-method/init'/>";
		var openWindowName = 'admwin_' + '${_tenantSignId}' + '_common-setup';
	}
	else if (type == "paymentSetup") { 
		var href = "<@spring.url '${_domain}/admin/cashier/etc/payment-setup/init'/>";
		var openWindowName = 'admwin_' + '${_tenantSignId}' + '_common-setup';
	}
	else if (type == "agreementSetup") { 
		var agreementId = '${agreementId}';
		var href = "<@spring.url '${_domain}/admin/shop/etc/agreement/init'/>?agreementId=" + agreementId + "&agreementType=order";
		var openWindowName = 'admwin_' + '${_tenantSignId}' + '_common-setup';	
	}
	else if (type == "mailCheckFlag") {
		if (mailType != '') {
			noticeMailClickType = mailType;
		}
		var ahref = $("#notice-mail-setup-link").attr("href"),
		mailId = 0;
		var href = "<@spring.url '${_domain}/admin/shop/etc/mail-setup/init'/>?mailId=" + mailId + "&mailType=" + noticeMailClickType;
		var openWindowName = 'admwin_' + '${_tenantSignId}' + '_common-setup';
	}
	
	if ($('#setupDisablePromptFlag').prop("checked")) {
		setupDisablePromptFlag = '${_YES}';
		localStorage.setScreenRepresentation = '${_YES}';
		var openWindow = window.open('', openWindowName, '');
		$.post("<@spring.url '${_domain}/admin/common/session/set-popup-session'/>", {setupDisablePromptFlag: setupDisablePromptFlag}, function(data) {
				if (data.result == '${_STATUS_SUCCESS}') {
					openWindow.location.href=href;
				} else {
					jzMsgBox(errorMsg("E_1008_001"), 'alert');
				}
			}, "json");
	}
	else {
		window.open(href, openWindowName).focus();
	}
}

function commonSetUpCancle() {
	$('#setupDisablePromptFlag').removeAttr("checked");
}

function popupMailBasicSetupParentClick(moduleName){
	var ahref = "<@spring.url '${_domain}/admin/" + moduleName + "/mail-setup/show-mail-basic-setup'/>";
	$('#mail-basic-setup-link').attr("href", ahref  + "/" + "popupMailBasicSetup");
	$('#mail-basic-setup-link').YSDialog({iframe: true, dialogId:"mailBasicSetupId", dialogTitle: "<m>通知メールの基本設定</m>"});
	$('#mail-basic-setup-link').click();
}

function paymentMembershipClick(id,title){
	$('#paymentName').val(title);
	var ahref = $('#popup-payment-membership-link').attr("href");
	$('#popup-payment-membership-link').attr("href", ahref + "/" + id);
	$('#popup-payment-membership-link').YSDialog({iframe:true, dialogTitle:"<m>メンバーシップ</m>", dialogId:"paymentProductId", postDataFormId:"product-payment-form"});
	$('#popup-payment-membership-link').click();
	$('#popup-payment-membership-link').attr("href", ahref);
}

function paymentTicketClick(id,title){
	$('#paymentName').val(htmlEncode(title));
	var ahref = $('#popup-payment-ticket-link').attr("href");
	$('#popup-payment-ticket-link').attr("href", ahref + "/" + id);
	$('#popup-payment-ticket-link').YSDialog({iframe:true, dialogTitle:"<m>エントリーチケット</m>", dialogId:"paymentTicketId", postDataFormId:"product-payment-form"});
	$('#popup-payment-ticket-link').click();
	$('#popup-payment-ticket-link').attr("href", ahref);
}


function groupRequiredStockStatusValue2(field, rules, i, options) {
	var fieldVal = field.val(), stockStatusVal = $('#stockStatus2').val();
	if (!fieldVal) {
		if (stockStatusVal) {
			rules.push('required');
		}
		else {
			$('#stockStatus2').validationEngine('hide');
		}
	}
}

function groupRequiredStockStatus2(field, rules, i, options) {
	var fieldVal = field.val(), stockStatusVal = $('#stockStatusValue2').val();
	if (!fieldVal) {
		if(stockStatusVal) {
			rules.push('required');	
		}
		else {
			$('#stockStatusValue2').validationEngine('hide');
		}
	}
}

function groupRequiredStockStatusValue3(field, rules, i, options) {
	var fieldVal = field.val(), stockStatusVal = $('#stockStatus3').val();
	if (!fieldVal) {
		if(stockStatusVal) {
			rules.push('required');
		}
		else {
			$('#stockStatus3').validationEngine('hide');
		}
	}
}

function groupRequiredStockStatus3(field, rules, i, options) {
	var fieldVal = field.val(), stockStatusVal = $('#stockStatusValue3').val();
	if (!fieldVal) {
		if(stockStatusVal) {
			rules.push('required');
		}
		else {
			$('#stockStatusValue3').validationEngine('hide');
		}
	}
}

function smallerThanStockStatus(field, rules, i, options) {
	var fieldVal = field.val(), stockStatusVal = $('#stockStatusValue2').val();
	if (fieldVal && stockStatusVal) {
		$('#stockStatusValue2').validationEngine('hide');
		if (parseInt(fieldVal) > parseInt(stockStatusVal) || parseInt(fieldVal) == parseInt(stockStatusVal)) {
			return stockStatusVal + "<m>より小さい数字を入力してください</m>";
		}
	}
}

function greaterThanStockStatus(field, rules, i, options) {
	//if (!saveActionFlag) {
	    var fieldVal = field.val(), stockStatusVal = $('#stockStatusValue3').val();
	    if (fieldVal && stockStatusVal) {
		    $('#stockStatusValue3').validationEngine('hide');
		    if (parseInt(fieldVal) < parseInt(stockStatusVal) || parseInt(fieldVal) == parseInt(stockStatusVal)) {
			    return stockStatusVal + "<m>より大さい数字を入力してください</m>";
		    }
	    }
	//}
}

function minOrderAmountBiggerThanMaxOrderAmount(field, rules, i, options) {
	//if (saveActionFlag) {
    	var fieldVal =  field.val(), maxOrderAmountVal = $('#maxOrderAmount').val();
    	if (fieldVal && maxOrderAmountVal) {
    		$('#maxOrderAmount').validationEngine('hide');
    		if (parseInt(fieldVal) > parseInt(maxOrderAmountVal) || parseInt(fieldVal) == parseInt(maxOrderAmountVal)) {
			    return "<m>最低注文金額は最大注文金額より小きく入力してください</m>";
		    }
		}
	//}
}

function afterOpenProductDisplayItemSetup() {
	if ($('#productListDisplay').val() == '#{_SHOP_SETUP_PRODUCT_LIST_DISPLAY_LIST}') {
		$('#product-display-item').hide();
		$('#itemsPerPage').val($('#itemsPerPageList').val());
		
	
	}
	else {
		$('#product-display-item').show();
		$('.product-display-item').attr('checked', false);
    	var productDisplayItem = $('#productDisplayItem').val();
    	if (productDisplayItem.length > 0) {
    		if (productDisplayItem.indexOf('${_SHOP_SETUP_PRODUCT_DISPLAY_ITEM_PRODUCT_NAME}') > -1) {
    			$('#productDisplayItemProductName').attr('checked', true);
    		}
    		if (productDisplayItem.indexOf('${_SHOP_SETUP_PRODUCT_DISPLAY_ITEM_PRICE}') > -1) {
    			$('#productDisplayItemPrice').attr('checked', true);
    		}
    		if (productDisplayItem.indexOf('${_SHOP_SETUP_PRODUCT_DISPLAY_ITEM_RATING}') > -1) {
    			$('#productDisplayItemRating').attr('checked', true);
    		}
    	}
		$('#itemsPerPage').val($('#itemsPerPageTile').val());
	}
}

function afterCloseProductDisplayItemSetup() {
	$("#itemsPerPage").validationEngine("hide");
}

function showTimeSlot(id) {
	flag = "edit";
	currentId = id;
	$("#add-time-slot-link").YSDialog({dialogId: "timeSlot", dialogTitle: "<m>配送時間帯の編集</m>"});
	$("#delivery-end-time").validationEngine('hide');
	$('#delivery-start-time').val(id.split('_')[0]);
	$('#delivery-end-time').val(id.split('_')[1]);
	$("#add-time-slot-link").click();
}

function showTimeSlouAdd() {
	flag = "add";
	$("#add-time-slot-link").YSDialog({dialogId: "timeSlot", dialogTitle: "<m>配送時間帯の追加</m>"});
	$("#delivery-end-time").validationEngine('hide');
	$("#delivery-start-time option:first").attr("selected", 'selected');
	$("#delivery-end-time option:first").attr("selected", 'selected'); 
	$("#add-time-slot-link").click();
}

function deleteTimeSlot(id) {
	currentId = id;
	$('#delete-time-slot').text($('#ysIframe').contents().find('#' + id + ' a:first').text());
	$('#delete-time-slot-link').YSDialog({dialogId: "deleteTimeSlot", dialogTitle: "<m>配送時間帯の削除</m>"});
	$('#delete-time-slot-link').click();
}

function  timeSlotDelete(){
	$('#YSDialogdeleteTimeSlot').dialog('close');
	$('#ysIframe').contents().find('#' + currentId).remove();
}

$('#add-payment-method-div').click(function() {
	var initPaymentMethods = $("#initPaymentMethods").val();
	if (initPaymentMethods == '') {
		initPaymentMethods = "0";
	}
	var ahref = $("#payment-method-link").attr("href");
	$('#payment-method-link').attr("href",ahref + "/" + initPaymentMethods);
	$('#payment-method-link').YSModalDialog({
		iframe : true,
		dialogTitle : "<m>メンバーが利用できる決済方法を選択します</m>",
		dialogId: "SetupPaymentMethod"
	});
	
	$('#payment-method-link').click();
	$('#payment-method-link').attr("href",ahref);
});

function deletePaymentMethod(paymentMethodId, paymentMethodName) {
	$('#paymentMethodName').html(htmlEncode(paymentMethodName));
	$("#deleteObjectMethodId").val(paymentMethodId);
	$("#deleteObjectMethodName").val(htmlEncode(paymentMethodName));
	$('#delete-payment-method-link').YSDialog({dialogTitle: "<m>決済方法の削除</m>"});
	$('#delete-payment-method-link').click();
}

function paymentMethodDelete() {
	paymentMethodId = $("#deleteObjectMethodId").val();
	paymentMethodName = $("#deleteObjectMethodName").val();
	var delPaymentObj = $("#" + paymentMethodId);
	var initPaymentMethods = $("#initPaymentMethods").val();
	initPaymentMethods = initPaymentMethods.replace("_" + paymentMethodId + "_", "_");
	$("#initPaymentMethods").val(initPaymentMethods);
	delPaymentObj.remove();
	var offlinePaymentMethod = "",
		initPaymentMethods = "";
	$("#paymentMethod").children("div").each(function() {
		initPaymentMethods += $(this).attr("id") + "_";
		if ($(this).attr("name") == "offlinePaymentMethod") {
			offlinePaymentMethod += $(this).attr("id") + "${_SHARP}";
		}
	});
	$("#offlinePaymentMethod").val(offlinePaymentMethod.substring(0, offlinePaymentMethod.length - 1));
	$("#initPaymentMethods").val(initPaymentMethods);
	if($("#paymentMethod").has("div").length >0) {
		$("#payment-method-select-no").hide();
	}
	else {
		$("#payment-method-select-no").show();
	}
	$('#YSDialog').dialog('close');
}

</script>